body{
	font-family: "Helvetica","苹方";
}
header{
	width: 100%;
	height: 1rem;
	background: #1EAB76;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.icon-leftarrow{
	color: white;
	font-size: 0.5rem;
	position: absolute;
	left: 0.25rem;
	top: 0.3rem;
}
.fenxiang{
	width: 0.5rem;
	height: 0.5rem;
	float: right;
	margin-right: 0.25rem;
	/* margin-top: 0.5rem; */
}
.fenxiang img{
	width: 100%;
	height: 100%;
}
.shezhi{
	width: 0.5rem;
	height: 0.5rem;
	float: right;
	margin-right: 0.25rem;
	/* margin-top: 0.5rem; */
}
.shezhi img{
	width: 100%;
	height: 100%;
}
.b{
	width: 100%;
	height: 1rem;
}
.unit{
	width: 100%;
	height: 100%;
	background: #F6F6F6;
	overflow: hidden;
	position: relative;
}
.unit li{
	width: 11.2874989%;
	height: 1.5rem;
	float: left;
	/* background: pink; */
	/* position: absolute;
	left: 0;
	top: 0; */
	text-align: center;
	line-height: 0.65rem;
	position: relative;
	margin-left: 0.2rem;
	font-size: 0.3rem;
}
.unit .unit1{
	color: #B0B0B0;
}
.xuanzhong{
   width: 100%;
   height: 100%;
   background: white;
   box-shadow: 0.05rem 0.05rem 0.4rem 0.005rem #b0b0b0;
}
.yuan{
	width: 0.65rem;
	height: 0.65rem;
	border-radius: 50%;
	background: #1EAB76;
	margin-left: 0.1rem;
	margin-top: 0.05rem;
	color: white;
	/* font-weight: bold; */
	font-size: 0.4rem;
}
main{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.shang{
	width: 100%;
	height: 100%;
	margin-top: 0.3rem;
	overflow: hidden;
}
.kuang{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.k01{
	width: 0.25rem;
	height: 0.25rem;
	background: #949393;
	float: left;
	transform: rotate(45deg);
	margin-left: 0.5rem;
	margin-top: 0.1rem;
}
.k02{
	width: 0.25rem;
	height: 0.25rem;
	background: #949393;
	float: left;
	transform: rotate(45deg);
	margin-top: 0.1rem;
}
main h3{
	display: block;
	font-size: 0.5rem;
	color: #676666;
	float: left;
	font-style:oblique;
}
main h1{
	display: block;
	font-size: 0.7rem;
	color: #676666;
	float: left;
	font-style:oblique;
	margin-top: 0.1rem;
	margin-left: 0.4rem
}
.fen{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.f01{
	width: 1rem;
	height: 0.15rem;
	border-radius: 0.1rem;
	background: #676666;
	margin-left: 0.4rem;
	margin-top: 0.05rem;
	float: left;
}
.f02{
	width: 0.15rem;
	height: 0.15rem;
	border-radius: 50%;
	background: #676666;
	margin-left: 0.05rem;
	margin-top: 0.05rem;
	float: left;
}
main h4{
	display: block;
	font-size: 0.3rem;
	color: #8C8C8C;
	float: left;
	font-style:oblique;
	margin-top: 0.1rem;
	margin-left: 0.4rem
}
main h5{
	display: block;
	font-size: 0.25rem;
	color: #8C8C8C;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
/* main h5:nth-child(2){
	display: block;
	font-size: 0.5rem;
	color: #8C8C8C;
	float: left;
	margin-left: 0.8rem
} */
.box-tu{
	width: 100%;
	height: 3rem;
	overflow: hidden;
	padding: 0.2rem 0.4rem;
}
.tu01{
	width: 2.2rem;
	height: 100%;
	background: url('../img/t01.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
/* .tu01 img{
	width: 100%;
	height: 100%;
} */
.tu02{
	width: 2.2rem;
	height: 100%;
	background: url('../img/t02.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
/* .tu02 img{
	width: 100%;
	height: 100%;
} */
.tu03{
	width: 2.2rem;
	height: 100%;
	background: url('../img/t03.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
/* .tu03 img{
	width: 100%;
	height: 100%;
} */
.fg{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.kt{
	width: 0.15rem;
	height: 0.15rem;
	border-radius: 50%;
	background: #7A7A7A;
	margin-left: 0.3rem;
	float: left;
}
.xian{
	width: 6.4rem;
	height: 0.01rem;
	background: #7A7A7A;
	/* margin-left: 0.6rem; */
	margin-top: 0.08rem;
	float: left;
}
.kt1{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	float: left;
	border: 0.05rem solid #36B484;
}
.xia{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-left: 0.4rem;
	margin-top: 0.8rem;
	padding-bottom: 0.2rem;
}
.xia01{
	width: 2.5rem;
	height: 1.25rem;
	border-radius: 1.6rem;
	background: #5C5555;
	font-size: 0.75rem;
	text-align: center;
	color: white;
	line-height: 1.25rem;
	float: left;
}
.zuo{
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	border: 0.05rem solid #C3C3C3;
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.15rem;
	position: relative;
}
.xia .icon-jiantouyou{
	color: #746E6E;
	font-size: 0.4rem;
	/* line-height: 2rem; */
	/* text-align: center; */
	transform: rotate(180deg);
	position: absolute;
	left:0;
	right: 0.375rem;
	top: 0.25rem;
	margin: auto;
}
.xia .icon-jiantouyo{
	color: #746E6E;
	font-size: 0.4rem;
	/* line-height: 2rem; */
	/* text-align: center; */
	/* transform: rotate(180deg); */
	position: absolute;
	left:0.375rem;
	right: 0rem;
	top: 0.25rem;
	margin: auto;
}