.lun{
	width: 100%;
	height: 13.34rem;
	background: #F5F3F2;
	position: relative;
	background: url('../img/shan01.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.s01{
	width: 2.1rem;
	height: 1.6rem;
	background-size: 100% 100%;
	background: url('../img/s01.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0.4rem;
	left: 0.4rem;
}
.s02{
	width: 2.1rem;
	height: 1.8rem;
	background-size: 100% 100%;
	background: url('../img/s02.png');  
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 2.3rem;
	left: 0.4rem;
}
.s03{
	width: 1.8rem;
	height: 1.7rem;
	background-size: 100% 100%;
	background: url('../img/s03.png');  
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 3rem;
	left: 0.4rem;
}
.s04{
	width: 1.8rem;
	height: 1.7rem;
	background-size: 100% 100%;
	background: url('../img/s04.png');  
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 4.3rem;
	left: 0.4rem;
}
.s05{
	width: 2.1rem;
	height: 2.8rem;
	background-size: 100% 100%;
	background: url('../img/s05.png');  
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 6.2rem;
	left: 0.4rem;
}
.s06{
	width: 3rem;
	height: 1.9rem;
	background-size: 100% 100%;
	background: url('../img/s06.png');  
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 9.2rem;
	left: 1.5rem;
}
.s07{
	width: 3rem;
	height: 1.6rem;
	background-size: 100% 100%;
	background: url('../img/s07.png');  
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0rem;
	left: 1.5rem;
}
.blue-slide{
	width: 100%;
	height: 100%;
	overflow: hidden;
}