.box{
	width: 100%;
}
.left{
	width: 0.45rem;
	height: 13.34rem;
	float: left;
	background: #f4f2f0;
}
.mid{
	width: 3.08rem;
	height: 13.34rem;
	float: left;
	background: #f4f2f0;
}
.right{
	width:3.97rem;
	height: 13.34rem;
	background-image: url('../img/shanping_01.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	float: left;
}
.one{
	width: 1.95rem;
	height: 1.37rem;
	margin-top: 0.5rem;
	float: left;
	background-image: url('../img/shanping_02.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.two{
	width: 0.74rem;
	height: 0.76rem;
	margin-top: 2.3rem;

	background-image: url('../img/shanping_03.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.three{
	width: 1.95rem;
	height: 0.25rem;
	margin-top: 0.32rem;
	float: left;
	background-image: url('../img/shanping_04.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.four{
	width: 1.95rem;
	height: 4.55rem;
	margin-top: 0.42rem;
	float: left;
	background-image: url('../img/shanping_05.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}
.five{
	width: 3.07rem;
	height: 1.87rem;
	margin-top: 0.52rem;
	float: left;
	background-image: url('../img/shanping_06.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}