.header{
	width:100%;
	height:32px;
	font-size:12px;
	color:#808080 ;
	border-bottom:1px solid  #ccc ;
	background:#f7f7f7;
	line-height: 32px;
}
.header a:hover{
  	color: red;
}
.header-main{
	width: 1200px;
	height: 100%;
	background: #f7f7f7;
	margin: 0 auto;   /* 使块元素居中 */

}
.header-right{
	width:432px;
	height: 100%;
	background:#f7f7f7;
	float: right;
}
.welcome{
	
	float: left;
}
.denglu{
	width: 77px;
	height: 100%;
	background:#f7f7f7 ;
	float: left;
	margin-left: 20px;
}
.login{
	float: left;
}
.fenge{
	float: left;
	margin-left: 11.5px;
}
.regist{
	float:left;
	margin-left: 11.5px;
	
}
.wodedingdan{
	float: left;
    margin-left: 14px;
}
.note{
	width: 72px;
	line-height: 32px;
	float: left;
	margin-left: 16px;
}
.notice{
	float: left;
	margin-right:5px;
	margin-top: 7px;
}
.wangzhangonggao{
	float: right;
}

.weixin{
	float: left;

}
.wenxin111{
	width: 18px;
	height: 18px;
	float: left;
	margin-left:12px;
	margin-top: 7px;
	position: relative;
}
.jiaw1{
	width: 148px;
	 height: 168px; 
	position: absolute;
	right:30px;
	top: 32px;
	z-index: 11;
	display: none;
}
.weibo{
	float: right;
	margin-top: 7px;
	margin-right: 2px;
}
.daohinglan{
	height: 89px;
	width: 100%;
	background: white;

}
.da{
	width: 1200px;
	height: 89px;
	background: white;
	margin: 20px auto 25px;
}

.dadada666{
	width: 438px;
	padding-top: 8px;
	float: right;
}
.dadada666 .input{
	width: 249px;
	height: 29px;
	padding: 0px 5px;
	line-height: 27px;
	border: 1px solid #c9caca;
	float: left;
}

.box{
 	width: 420px;
	height: 32px;
	float: right;
	margin-top:6px ;
	background:white ;
}
.a{
	width: 60px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}
.x{
	width: 60px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}
.b {
	width: 50px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;	
	
}
.c {
	width: 40px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}
.d {
	width: 50px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}
.e {
	width: 50px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}
.f {
	width: 40px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}
.g {
	width: 40px;
	height: 32px;
	font-size: 4px;
	background: white;
	float: left;
	line-height: 32px;
		
}

 .fanke{
	width: 100%;
	height: 77px;
	background: white;
	float: left;
}
.fankelan{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background:white;

}
.fanke1{
	background-image:url('../img/logo18546.png');
	background-position: center;;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 185px;
	height: 46px;
	float: left;
}
.fanke2{
            width:1000px;
            height:48px;
            background: white;
            float: right;
        }
        .shouye{
            width:99px;
            height:48px;
            float: left;
            font-size: 16px;
            text-align: center;
            line-height:48px;
        }
		.afengea{
			float: left;
			height: 16px;
			width: 1px;
			border-right: solid 1px #888;
			margin-top:15px ;
		}
.afengea1{
	float: right;
	height: 16px;
	width: 1px;
	border-right: solid 1px #888;
	margin-top:15px ;
}
        .lists{
            width:900px;
            height:48px;
            float: left;
        }
        .lists li:not(.top){
            width:99px;
            height:48px;
            float: left;
            font-size: 16px;
            text-align: center;
            line-height:48px;
            position: relative;
        }
        .lists li:nth-child(9){
            border-right: 0;
        }


        .seclist{
            width:100px;
            height:0;
            background: white;
            padding: 0;
            position: absolute;
            top:48px;
            left:0;
            overflow: hidden;
			z-index: 20;
        }
        .seclist li:not(.top){
            width:100%;
            font-size: 16px;
            text-align: center;
            line-height:48px;
            color: #555;
            border-left: 1px solid #fff;
            border-right:1px solid #fff;

        }

        .top{
            width:100px;
            height:5px;
            background:#b81c22;
        }

.banner0{
	width: 100%;
	height: 535px;
	float: left;
	position: relative;
}
.guding{
	position: fixed;
	right: 20px;
	top: 300px;
	z-index: 10;
}
.guding img{
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}
.guding3{
	position: absolute;
	z-index: 11;
	width: 75px;
	height: 55px;
	bottom: 0;
	left:0;
	cursor: pointer;
}

.banner{
	width: 1200px;
	height: 100%;
	margin: 0 auto;	
    position: relative;
}
.banner img{
	position: absolute;
	top: 0;
	left: 0;
	margin:0 auto;
	
}
.banner img:nth-child(1){
	z-index: 1;
}

.jt1{
 	left: 6%;
  	top: 260px;
  	position: absolute;
  	z-index: 10;
	cursor:pointer;
}
.jt2{
 	right: 6%;
  	top: 260px;
  	position: absolute;
  	z-index: 10;
	cursor:pointer;
}

.hezi{
	width: 112px;
	height: 12px;
    position: absolute;
    top: 500px;
    left:600px ;
	z-index: 2;
}

.hezi ul{
	width: 112px;
	height: 12px;
	justify-content: space-between;
	display: flex;
}
.hezi ul li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: black;
	cursor:pointer;
}
.hezi ul li:nth-child(1){
	background: white;
}







.xinpin{
	width: 100%;
	height: 130px;
	background: white;
	float: left
}
.xinpinyushou{
	font-size: 12px;
	line-height: 130px;
	text-align: center;
}
.picture{
	width: 100%;
	height: 100%;
	background: white;
	float: left;
	overflow: hidden;
}
.picture1{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: white;
	overflow: hidden;

}
.tu1{
	width: 390px;
	height: 100%;
	margin-right: 15px;
	float:left;
}
.tu2{
	width: 390px;
	height: 100%;
	margin-right: 15px;
	float:left;
}
.tu3{
	width: 390px;
	height: 100%;
	float:right;
}
.picture2{
	width: 100%;
	height: 600px;
	background: white;
	float: left;
	overflow: hidden;
}
.picture3{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.tu4{
	width: 390px;
	height: 100%;
	margin-right: 15px;
	float:left;
}
.tu5{
	width: 390px;
	height: 100%;
	margin-right: 15px;
	float:left;
}
.tu6{
	width: 390px;
	height: 100%;
	float:right;
}
.picture4{
	width: 100%;
	height: 100%;
	background: white;
	float: left;
	overflow: hidden;
}
.hen{
	width: 100%;
	height: 88px;
	background: white;	
}
.henguo{
	font-size: 12px;
	line-height: 88px;
	text-align: center;
}
.picture5{
	width: 1200px;
	height:100%;
	background: white;
	margin: 0 auto;
	overflow: hidden;
}

.tu71{
	width: 590px;
	height: 509px;
	float: left;
	margin-right: 18px;

}
.tu7{
	width: 590px;
	height: 440px;
	float: left;
	margin-right: 18px;

}
.tu72{
	width: 590px;
	height:66px;
	float: left;
	line-height: 67px;
	//box-sizing: border;
	border-bottom: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	position: relative;
}
.price6{
	position: absolute;
	right:0;
	top:0;
	width: 100px;
	height: 66px;
	text-align: center;
	line-height: 66px;
	color: #ff1e08;

}
.tu8{
	width: 290px;
	height:440px;
	background: white;
	float: left;
}
.tu73{
	width: 290px;
	height:67px;
	float: left;
	
	//box-sizing: border;
	border-bottom: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	position: relative;
}
.wenzi222{
	font-size: 18px;
	color: black;
	position: absolute;
	left: 0px;
	top: 20px;
}

.wenzi333{
	font-size: 18px;
	color: red;
	position: absolute;
	left: 235px;
	top: 20px;
}

.tu88{
	width: 290px;
	height: 180px;
	float: left;
}

.tu888{
	width: 290px;
	height:191px;
	float: left;
}
.tu74{
	width: 290px;
	height:62px;
	float: right;
	//box-sizing: border;
	border-bottom: 1px solid #e8e7ec;
	border-left: 1px solid #e8e7ec;
	border-right: 1px solid #e8e7ec;
	position: relative;
}
.tu9{
	width: 286px;
	height: 440px;
	float: right;
}
.x1{
 	width: 100%;
 	height:284px;
 	background: white;
 	float: left;

}
.x2{
	height: 282px;
	width: 1199px;
	background: white;
	margin: 0 auto; 
	border: 1px solid #e0e0e1;
}

.x3{
	width: 1198px;
	height: 194px;
	background: white;
	
}
.kongbai{
	width: 100%;
	height:100px;
	background: white;
	float: left;
}
.x31{
	width: 410px;
	height: 194px;
	float: left;
	background: white;
	margin-right: 1px;
}
.x32{
	width: 410px;
	height: 120px;
	float: left;
	background: white;	
}
.img1{
	width: 410px;
	height: 120px;
	line-height: 120px;
	text-align: center;
}
.x33{
	width: 410px;
	height: 74px;
	float: left;
	background: white;	
}
.img2{
	width: 410px;
	height: 74px;
	line-height: 74px;
	text-align: center;
}
.baitiao{
	width: 1px;
	height: 137px;
	background:#e0e0e1 ;
	margin-top:33px;
	float: left;
}
.y31{
	width: 370px;
	height: 194px;
	float: left;
	background: white;
	margin-right: 1px;
}
.y32{
	width: 370px;
	height: 76px;
	float: left;
	background: white;
	
	margin-top: 20px;
		
}
.img3{
	width: 370px;
	height: 58px;
	line-height: 58px;
	text-align: center;
}
.y33{
	width: 370px;
	height: 56px;
	float: left;
	line-height: 54px;
	background: white;	
}
.img4{
	width: 370px;
	height: 30px;
	text-align: center;
}

.z31{
	width: 414px;
	height: 190px;
	float: left;
	background: white;
}
.z32{
	width: 415px;
	height: 130px;
	float: left;
	background: white;
		
}
.v{

	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 150px;
}

.z33{
	width: 415px;
	height: 63px;
	float: left;
	background: white;	
}
.img6{
	width: 415px;
	height: 60px;
	line-height: 74px;
	text-align: center;
}
.next{
	width: 1198px;
	height: 86px;
    background: #ffffff;
    float: left;
}
.next1{
	width: 1118px;
	height: 55px;
	background: #f8f8f8;
	margin: 0 auto;
}
.guanyu{
	width: 178px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;
	margin-right: 1px;
}
.tiao1{
	width: 1px;
	height: 26px;
	margin-top: 15px;
	float: left;
	background: #dadadb;
}
.xinshou{
	width: 178px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;
	margin-right: 1px;
}
.peisong{
	width: 214px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;
	margin-right: 1px;
}
.zhifu{
	width: 178px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;
	margin-right: 1px;
}
.shouhou{
	width: 178px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;
	margin-right: 1px;
}
.bangzhu{
	width: 182px;
	height: 55px;
	float: left;
	text-align: center;
	line-height: 55px;	
}
.last{
	width: 100%;
	height: 116px;
	background: #ffffff;
	float: left;
}
.kuang1{
	width: 100%;
	height: 43px;
	background: #ffffff;
	float: left;
}
.heitiao{
	width: 1200px;
	height: 1px;
	background: black;
	margin: 0 auto;
	margin-top: 25px;
}
.kuang2{
	width: 100%;
	height: 73px;
	
	background: #ffffff;
	
	float: left;
}
.wenzi{
   font-size: 12px;
   text-align: center;
}
.wenzi1{
   font-size: 12px;
   text-align: center;
}

.kuang3{
	width: 100%;
	height:105px;
	background: white;
	float: left;
	text-align: center;
	
}
.chengxin{
	width: 112px;
	margin-top: 20px;
	float: left;
	margin-left: 350px;
	margin-right: 10px;
}
.zhongguo{
	width: 112px;
	margin-top: 20px;
	float: left;
	margin-right: 50px;
}
.wangshang{
	width: 112px;
	margin-top: 23px;
	float: left;
	margin-right: 1px;
}
.jingying{
	width: 112px;
	margin-top: 23px;
	float: left;
}
.lvse{
	width: 75px;
	margin-top: 26px;
	float: left;
	margin-left: 10px;	
	
}
.n1{

	width: 67px;
	height: 43px;
	margin-top: 23px;
	margin-right: 305px;
}
.ss{
 	background-image:url('../img/sousuo_03.png');
	background-position:-100px 0px ;
	float: right;
	width: 47px;
	height:29px;
	margin-right: 142px;
}
.buy{
	background-image: url('../img/vanclsprite.png');
	background-position: -154px 0px;
	float: right;
	margin-right: -170px;
	width: 107px;
	height: 29px;
	cursor: pointer;
	position: relative;
	z-index: 3;
}
.BuycarTab {
	width: 315px;
	height: auto;
	padding: 5px;
	border: 1px solid #b81c22;
	position: absolute;
	right: -0.5px;
	top: 28.5px;
	_right: -2px;
	background: #ffffff;
	display: none;
	z-index: 2;
}
.SCtotalpageno{
	font-size: 12px;
	font-family: "宋体";
	color: #333;
}

.buy span{
	font-size: 12px;
margin-left:31px;
color: #ffffff;
line-height: 29px;

}
.buy:hover{
   background-position: -153px -29px;
	border-top:1px solid #b81c22;
	border-left:1px solid #b81c22;
	border-right:1px solid #b81c22;
	border-bottom: 1px solid white;
}
.buy:hover span{
   color: red;
}
.wenzi111{
	font-size: 18px;
	line-height: 67px;
	color: black;

}
.banner,.picture,.picture2,.picture22,.picture222,.picture2222,.picture4{
	cursor: pointer;
}
