header{
	width: 100%;
	overflow: hidden;
	background: #131413;
}

nav{
	width: 100%;
}
.daohing{
	width: 1226px;
	height: 100px;	
	margin: 0 auto;
	background: #131413;
}
.log{
	width: 139px;
	height: 100px;
	background-image:url('../img/log.png');
	background-size: 100% ;
	 background-position:center;  
	background-repeat: no-repeat;
	float: left;
}
.six{
	width: 1087px;
	height: 100%;
	float: left;
}
.six li{
	width: 181px;
	height: 100%;
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	/* line-height: 90px; */
	margin-top: 34px;
}
.six li span{
	display: block;
	font-size: 16px;
}

.content{
	width: 100%;
	background: white;
}
.hezuo{
	width: 1200px;
	height: 242px;
	margin: 0 auto;
	position: relative;
}
footer{
	width: 100%;
}
.bottom{
	width: 100%;
	height: 563px;
	background: #0f0e0e;
}
.bleft{
		width: 60%;
		height: 469px;
		float: left;
}
.bright{
	height: 469px;
	width: 40%;
	float: right;
}

.bbottom{
	width: 100%;
	height: 93px;
	border-top: 1px solid #383838;
	float: left;
	
}
.bbottom span{
	display: block;
	margin: 30px auto;
	font-size: 14px;
	color: #6d6969;
	text-align: center;
}
.bleft1{
	width: 523px;
	height: 222px;
	margin: 60px auto;
}
.bright1{
	width: 480px;
	height: 368px;
	float: left;
	margin-top: 70px;
}
.log1{
	width: 140px;
	height: 41px;
	background-image:url('../img/log.png');
	background-size: 100% ;
	 background-position:center;  
	background-repeat: no-repeat;
	float: left;
}
.bleft1 ul{
	width:100%;
	height: 50px;
	padding-top: 20px;
	float: left;
}
.bleft1 ul li{
	width: 33%;
	height: 50px;
	font-size: 16px;
	color: white;
	float: left;
	text-align: left;
}
.bleft1 ul li img{
	width: 220px;
	height: 26px;
}
.bright span{
	display: block;
	font-size: 20px;
	color: white;
	text-align: left;
}

.bright1 input{
	width: 100%;
	height: 34px;
	margin-top: 15px;
	float: left;
	color: #383737;
	font-size: 16px;
	background: #201f1f;
}
.bright1 input:nth-child(1){
	width: 30%;
}
.bright1 input:nth-child(2){
	width: 60%;
	float: right;
}
.bright1 input:nth-child(4){
	height: 99px;
}
.bright1 input:nth-child(5){
	width: 138px;
	height: 34px;
	margin-top: 30px;
	float: right;
	color: white;
	font-size: 18px;
	background: #3c3314;
	border-radius: 3px;
}
.cdaohing{
	width: 1200px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	font-size: 16px;
	color: #717171;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.c1{
	width: 1200px;
	margin: 0 auto;
}
.c1 img:nth-child(2){
	margin-top: 80px;
	margin-bottom: 80px;
}
.c2{
	width: 100%;
	height: 963px;
	background-image:url('../img/ditu.png');
	background-size: 100% 100%;
	 background-position:center;  
	background-repeat: no-repeat;
}
.midc2{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.c2top{
	width: 100%;
	height: 213px;
	font-size: 36px;
	color: black;
	line-height: 213px;
	text-align: left ;
}
.c2bottom{
	width: 100%;
	height: 750px;
}

.c2bottom ul{
	width: 33%;
	height: 100%;
	float: left;
}
.c2bottom ul li{
	width: 100%;
	height: 75px;
	font-size: 24px;
	color: black;
	text-align: center;
	float: left;
}
.c2top input{
	color: black;
	width: 190px;
	height: 50px;
	border: 1px solid #686766;
	border-radius: 10px;
	background: rgba(239, 278, 237, 0.1);
	font-size: 24px;
	text-align: center;
	margin-left: 65%;
}