.banner{
	width: 100%;
	/* height: 100%; */
}
.banner1 img{
	width: 100%;
	height: 4.2rem;
}
.guding{
	width: 100%;
    height: 0.89rem;
    background-color: #007be3; 
    top: 0;
    position: fixed;
}
.guding ul{
	width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.guding ul li{
	width: 20%;
    height: 100%;
    float: left;
    position: relative;
    font-size: 0.32rem;
    text-align: center;
    line-height: 1rem;
    color: white;
}
.tea_copyright {
    width: 100%;
    height: 1.2rem;
    font-size: 0.3rem;
    overflow: hidden;
}
.tea_copyright p {
    color: #666;
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.18rem;
    box-sizing: border-box;
}
.tea-content{
    width: 100%;
    padding: 0.1rem 0.24rem 0;
}
.mulu{
    height: 0.62rem;
    line-height: 0.62rem;
    width: 100%;
}
.mulu a{
    color: #494747;
    font-size: 0.22rem;
    line-height: 0.7rem;
    float: left;
    margin: 0 0.14rem;
}
.mulu span{
    float: left;
    width: 0.16rem;
    height: 0.2rem;
    margin-top: 0.26rem;
    font-size: 0.22rem;
    text-align: center;
    color: #494747;
    background-size: 100%;
    background: url('../img/jiantou.png');
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.web .f1{
    width: 100%;
    height: 2.26rem;
    background-color: #ffffff;
    margin-bottom: 0.1rem;
    padding: 0.28rem;
}
.f1 .img{
    width: 25%;
    height: 1.7rem;
    float: left;
    padding: 0 0.2rem;
}
.f1 .img1{
    width: 1.215rem;
    height: 1.215rem;
    margin: 0 auto;
}
.f1  .img div{
    font-size: 0.24rem;
    color: #000000;
    text-align: center;
}
.f{
    width: 100%;
    margin-bottom: 0.1rem;
    padding-left: 0.43rem;
    padding-top: 0.3rem;
    padding-right: 0.2rem;
    padding-bottom: 0.3rem;
    position: relative;
}
.f .shu{
    width: 0.08rem;
    height: 0.24rem;
    background-color: #01b5ff;
    position: absolute;
    left: 0.3rem;
    top: 0.32rem;
}
.f h2{
    font-size: 0.28rem;
    color: #333;
    margin-bottom: 0.13rem; 
}
.f .line{
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #666666;
}
.f p{
        color: #333;
    font-size: 0.24rem;
    line-height: 0.38rem;
    margin-top: 0.15rem;
}
.f .staic{
   width: 100%;
}
.f .static h3{
     margin-top: 0.22rem;
}
.f .static .img img{
    margin-top: 0.36rem;
    height: 4rem;
    background-size: cover;
    width: 7rem;
    margin-left: -0.4rem;
}
.f .posts{
        width: 100%;
    margin-top: 0.16rem;
}
.f .posts li{
    width: 100%;
    height: 1.1rem;
    font-size: 0.24rem;
}
.f .posts li .part1{
    float: left;
    width: 2.87rem;
    height: 1.06rem;
       line-height: 1.2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/q_18_18.png');
    text-align: center;
    margin-left: 0.5rem;
}
.f .posts li .part2{
    float: left;
    width: 2.87rem;
    height: 1.06rem;
        line-height: 1.2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/q_18_20.png');
    text-align: center;
}
.f .posts li .part3{
    float: left;
    width: 3.05rem;
    height: 0.97rem;
    line-height: 1.1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/q_18_25.png');
    text-align: center;
    margin-left: 20%;
}
.f .posts li .part4{
    float: left;
    width: 3.37rem;
    height: 1.01rem;
    margin-left: 0.22rem;
    line-height: 1.1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/q28 (1).png');
    text-align: center;
}
.f .posts li .part5{
    float: left;
    width: 2.7rem;
    height: 1.01rem;
    margin-left: 0.1rem;
    line-height: 1.1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/q_18_20.png');
    text-align: center;
}
.f .posts li .part6{
    float: left;
    width: 3.12rem;
    height: 0.95rem;
    line-height: 1.1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/q_18_34.png');
    text-align: center;
    margin-left: 20%;
}
.laname{
    width: 100%;
    height: 3.6rem;
    position: relative;
}
.titlename{
    width: 100%;
    height: 0.65rem;
}
.titlename p{
    font-size: 0.3rem;
    float: left;
    height: 100%;
    line-height: 0.6rem;
    padding: 0 0.6rem;
}
.yuan{
    position: absolute;
    left: -0.13rem;
    right: 0;
    width: 0.4rem;
}
.yuan1{
    float: left;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #01b5ff;
    border: 0.08rem solid #98e1ff;
    margin-top: 0.34rem;
}
.bigbox{
    float: left;
    border-left: 1px dashed #01b5ff;
    width: 100%;
    height: 2.6rem;
    overflow: hidden;
}
.hah{
    width: 100%;
    height: 20%;
}
.bigbox p{
    height: 100%;
    overflow: hidden;
    font-size: 0.3rem;
    line-height: 0.6rem;
    padding: 0 0.4rem;
    float: left;
}
.ss{
    width: 100%;
}
.ss ul{
    width: 100%;
}
.ss ul li{
    width: 100%;
    overflow: hidden;
    margin-top: 0.2rem;
}
.ss ul li .l01{
    height: 0.84rem;
    width: 0.84rem;
    float: left;
    overflow: hidden;
    position: relative;
}
.ss ul li img{
    position: absolute;
    width: 0.84rem;
    height: 0.84rem;
    left: 0;
    top: 0;
    overflow: hidden;
}
.zhuan{

    animation: zhuan 4s 0s infinite linear;

}
@keyframes zhuan{

    0%{
    -webkit-transform: rotate(0deg);
    }
    100%{
    -webkit-transform: rotate(365deg);
    }
}
.r01{
    width: 5.3rem;
   float: left;
   margin-left: 0.2rem;
}
.r01 p{
    color: #d79115;
    height: auto;
    width: 100%;
    font-size: 0.3rem;
    overflow: hidden;
}
.r01 .line1{
    width: 100%;
    height: 0.02rem;
    border-bottom:0.02rem dashed #d79115 ;
    margin-top: 0.04rem;
    overflow: hidden;
    margin-left: -0.2rem;
}
.r01 .desc{
    color: #333;
    font-size: 0.24rem;
    line-height: 0.38rem;
    margin-top: 0.1rem;

}
.f2{
     width: 1.73rem;
    height: 1.73rem;
    margin: 0.3rem auto;
    margin-bottom: 0.5rem;
}
.f2 img{
    width: 100%;
}