.banner{
	width: 100%;
	height: 5rem;
	position: relative;
	background-image: url('../img/uibanner.png');
	background-repeat: no-repeat;
	background-size:100% ;
	background-position: center center;
	overflow: hidden;
}
.bannerC{
	width: 100%;
    height: 4.14rem;
	position: absolute;
	margin: auto;
	background-image: url('../img/uibanners.png');
	background-repeat: no-repeat;
	background-size:100% ;
	background-position: center center;
	left: 0;
	top: 0;
}
.ui0{
	width: 100%;
	position: relative;
}
.ui0icon{
	width: 7.02rem;
	height: 100%;
	margin: auto;
}
.ui0icon1{
	width: 100%;
	height: 0.9rem;
	margin:0.4rem auto;
}
.ui0icon1 h2{
    font-size: 0.36rem;
    text-align: center;
    color: black;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;   
}
.ui0icon1 h2 span{
	font-weight: 400;
}
.tiao{
	width: 2.7rem;
    height: 0.1rem;
    background-image: url('../img/ui1lines.png');
    margin: auto;
    background-repeat: no-repeat;
    background-size:100%;
    background-position: center center;    
}
.ui0icon2{
    width: 6.8rem;
    height: 5.4rem;
    margin: 0.2rem auto;
}
.ui0icon2 ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ui0icon2 ul li{
	width: 2.0rem;
    height: 2.5rem;
    float: left;
    overflow: hidden;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}
.ui0title{
	width: 2.1rem;
	height: 1.1rem;
	background-image: url('../img/fwtx1.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size:0.28rem;
	color: white;
	line-height: 1.1rem;
	padding-left: 0.8rem;
}
.ui0icon2 p{
	width: 2.0rem;
	height: 1.4rem;
	border: 0.02rem dashed #f2a111;
	color: black;
	text-align: center;
	padding-top: 0.2rem;
	font-size: 0.28rem;
}
.ui0title1{
	width: 2.1rem;
	height: 1.1rem;
	background-image: url('../img/fwtx2.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size:0.28rem;
	color: white;
	line-height: 1.1rem;
	padding-left: 0.8rem;
}
.ui0title2{
	width: 2.1rem;
	height: 1.1rem;
	background-image: url('../img/fwtx3.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size:0.28rem;
	color: white;
	line-height: 1.1rem;
	padding-left: 0.8rem;
}
.ui0title3{
	width: 2.1rem;
	height: 1.1rem;
	background-image: url('../img/fwtx4.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size:0.28rem;
	color: white;
	line-height: 1.1rem;
	padding-left: 0.8rem;
}
.ui0title4{
	width: 2.1rem;
	height: 1.1rem;
	background-image: url('../img/fwtx5.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size:0.28rem;
	color: white;
	line-height: 1.1rem;
	padding-left: 0.8rem;
}
.ui0title5{
	width: 2.1rem;
	height: 1.1rem;
	background-image: url('../img/fwtx6.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	font-size:0.28rem;
	color: white;
	line-height: 1.1rem;
	padding-left: 0.8rem;
}
.ui0icon2 li:nth-child(2) p{
	border: 0.02rem dashed #2f90da;
}
.ui0icon2 li:nth-child(3) p{
	border: 0.02rem dashed #f87844;
}
.ui0icon2 li:nth-child(4) p{
	border: 0.02rem dashed #1bbf99;
}
.ui0icon2 li:nth-child(5) p{
	border: 0.02rem dashed #f8ce68;
}
.ui0icon2 li:nth-child(6) p{
	border: 0.02rem dashed #c16bbb;
}
.ui1{
	height: 7.6rem;
    overflow: hidden;
}
.ui1-1{
	width: 100%;
	height: 1.3rem;
	background-image: url('../img/uititle1.png'); 
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	padding: 0.4rem 0;
}
.ui1-1 h2{
	font-size: 0.36rem;
	width: 100%;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	color: white;
}
.ui1-1 h2 span{
	font-weight: 400;
}
.tiao1{
	background-image: url('../img/ui2lines.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 2.7rem;
    height: 0.1rem;
    margin: 0 auto;
}
.ui1icon{
	width: 7.02rem;
	height: 100%;
	margin: auto;
}
.ui1-2{
	width: 7.02rem;
	height: 3.15rem;
	border: 0.02rem dashed black;
	margin: auto;
	overflow: hidden;
}
.ui1-2 p{
	width: 100%;
    height: auto;
    text-align: center;
    line-height: 0.36rem;
    color: #333;
    font-size: 0.26rem;
    margin-top: 0.1rem;
}
.ui1-2 p span{
	color: #00a8ff;
    font-weight: 600;
}
.ui1tupian{
	width: 100%;
	height: 3.74rem;
	background-image: url('../img/ui11s.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.ui2{
	height: 13.7rem;
	margin-top: -0.26rem;
}
.ui2-1{
	width: 100%;
	height: 1.3rem;
	background-image: url('../img/uititle2.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	padding: 0.4rem 0;
}
.ui2-1 h2{
	height: 0.4rem;
	color: white;
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.36rem
}
.ui2-1 h2 span{
	font-weight: 600;
}
.tiao2{
	background-image: url('../img/ui2lines.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 2.7rem;
    height: 0.1rem;
    margin: 0 auto;
}
.ui2box{
	width: 100%;
	height: 12.4rem;
	background: #1b1d32;
	padding-top: 0.4rem;
}
.ui2box-1{
	width: 2.46rem;
	height:0.8rem;
	margin: 0 auto;
	text-align: center;
	font-size:0.3rem;
	color:white;
	line-height: 0.4rem;
	border-bottom: 0.02rem dashed white;
	position: relative;
}
.ui2boxtiao{
	width: 100%;
	height: 0.02rem;
	position: absolute;
	left: 0;
	background: white;
	bottom: 0.1rem;
}
.ui2box-2{
	width: 7.02rem;
    height: 4.17rem;
    margin: 0 auto;
    background-image: url('../img/bfb.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: relative;
}
.ui2a{
	overflow: hidden;
    width: 0.82rem;
	height: 0.32rem;
    position: absolute;
    left: 1.1rem;
    top: 0.48rem;
    background: #fff100;
}
.ui2b{
	overflow: hidden;
    width: 1.3rem;
	position: absolute;
	height: 0.32rem;
    left: 1.1rem;
    top: 1.1rem;
    background: #1dffbd;
}
.ui2c{
	overflow: hidden;
    width:4.8rem;
	height: 0.32rem;
    position: absolute;
    left: 1.1rem;
    top: 1.71rem;
    background: #0c51ff;
}
.ui2d{
	overflow: hidden;
    width:2.76rem;
	height: 0.32rem;
    position: absolute;
    left: 1.1rem;
    top: 2.3rem;
    background: #00a8ff;
}
.ui2e{
	overflow: hidden;
    width: 0.92rem;
	height: 0.32rem;
    position: absolute;
    left: 1.1rem;
    top: 2.96rem;
    background: #1befe8;
}
.pjzz{
	width: 7.02rem;
	height: 4.8rem;
	margin-top: 0.3rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.3rem;
}
.pjzz ul.ul1{
	width: 3.41rem;
	height: 4.8rem;
	margin: 0 auto;
	float: left;
}
.pjzz ul.ul2{
	width: 3.41rem;
	height: 4.8rem;
	margin: 0 auto;
	float: right;
}
.pjzz ul li{
	width: 3.41rem;
    height: 2.21rem;
    overflow: hidden;
    background: url('../img/ui2back.png');
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 100%;
    margin-top: 0.15rem;
}
.pjzz p{
	font-size: 0.24rem;
	text-align: center;
	color: #fff;
	width: 100%;
	line-height: 0.4rem;
	margin-top: 0.15rem;
}
.pjzz span{
	width: 100%;
	font-size: 0.3rem;
	color: #fff;
	line-height: 0.4rem;
	text-align:center;
	display: block;
}
.btn{
	display: block;
	width: 2.99rem;
	height: 0.8rem;
	background-image: url('../img/btn.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.28rem;
	margin: 0 auto;
	margin-top: 0.3rem;
}
.ui3{
	width: 100%;
	position: relative;
	margin-top: -0.6rem;
}
.ui3-1{
	width: 100%;
    height: 1.3rem;
    margin: 0 auto;
    padding: 0.4rem 0;
    background: url('../img/uititle1 (1).png'); 
	background-position: center center;
	background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.ui3-1 h2{
	height: 0.4rem;
	color: white;
	line-height: 0.4rem;
	text-align: center;
	font-size: 0.36rem
}
.ui3-1 span{
	font-weight: 400;
}
.ui3-2{
	width: 7.02rem;
    height: 100%;
    margin: 0 auto;
}
.stu{
	width: 7.02rem;
	height: 4.1rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 0.4rem;
}
.stuname{
	width: 100%;
	height: 0.6rem;
}
.ui3-2 .stu .stuname p{
	color: #fff;
	width:1.3rem ;
	height: 0.6rem;
	background: #40abfd;
	text-align: center;
	line-height: 0.6rem;
	font-size:0.26rem ;
	border-radius: 0.1rem 0.1rem 0 0;
	float: left;
	overflow: hidden;
}
.ui3-2 .stu .stuname p:nth-child(2){
	width:1.8rem ;
	 background: #219eff;
}
.ui3-2 .stu .stuname p:nth-child(3){
	width: 3.92rem;
    background: #118ded;
}
.kuang{
	height: 3.5rem;
	width: 100%;
	border: 1px solid #1875ff;
}
.ui4{
	width: 100%;
	position: relative;
}
.ui4-1{
	width: 100%;
	height: 1.3rem;
	margin: 0 auto;
	background-image: url('../img/uititle3.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0.4rem 0;
	position: relative;
}
.ui4-1 h2{
	text-align:center;
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size:0.36rem ;
	color: #fff;

}
.ui4-1 span{
	font-weight: 400;
}
.ui4-2{
	width: 7.02rem;
	height: 100%;
	margin: 0 auto;
	background:#EFF0F4 ;
}
.ui4-2 ul{
	width: 100%;
	overflow: hidden;
	margin-top: 0.12rem;

}
.ui4-2 ul li{
	width: 100%;
	height: 2.36rem;
	margin-top: 0rem;
	border-top: 0.04rem solid #f88c00;
	background: white;
}
.ui4-2 ul li span{
	height: 0.52rem;
	width: 100%;
	color: black;
	font-size:0.3rem;
	line-height: 0.52rem;
	padding-left: 0.2rem;
	display: block;
	margin-top: 0.2rem

}
.ui4-2 ul li  p{
	border-top: 0.02rem dashed black;
	font-size:0.26rem;
	height: 1.5rem;
	color: #333;
	padding: 0.2rem;
}
.ui4-2 ul li:nth-child(2){
border-top: 0.04rem solid  black;
}
.ui4-2 ul li:nth-child(3){
border-top: 0.04rem solid  red;
}
.ui4-2 ul li:nth-child(4){
border-top: 0.04rem solid  blue;
}
.ui4-2 ul li:nth-child(5){
border-top: 0.04rem solid  pink;
}
.ui4-2 ul li:nth-child(6){
border-top: 0.04rem solid  #ccc;
}
.ui5{
	width: 100%;
	position: relative;
}
.ui5-1{
	width:100% ;
	height:1.3rem;
	background-image: url('../img/uititle2 (1).png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding:0.4rem 0;
}
.ui5-1 h2{
	font-size: 0.36rem;
	line-height:0.4rem ;
	color:#fff ;
	text-align: center;
	margin: 0 auto;
}
.ui5-2{
	margin-top: 0.5rem;
    width: 7.02rem;
    height: 100%;
    margin: 0 auto;
}
.ui53{
	width: 100%;
	height: 2.63rem;
	overflow: hidden;
	margin-top: 0.1rem;
}
.ui53 li{
	width: 3.46rem;
    margin-right: 0.05rem;
    height: 2.63rem;
    overflow: hidden;
    float: left;	
}
.ui53 .uili1{
	background-image: url('../img/ui54.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.ui53 .uili2{
	background-image: url('../img/ui55.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;	
}
.ui51{
	width: 100%;
	height: 2.63rem;
	overflow: hidden;
	margin-top: 0.1rem;
}
.ui51 li{
	width: 3.46rem;
    margin-right: 0.05rem;
    height: 2.63rem;
    overflow: hidden;
    float: left;	
}
.ui51 .uili1{
	background-image: url('../img/ui51.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}
.ui51 .uili2{
	background-image: url('../img/ui52.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;	
}
.ui52{
	 width: 100%;
    height: 2.63rem;
    overflow: hidden;
    margin-top: 0.1rem;
}
.ui52 li{
	width: 100%;
	height: 100%;
	background-image: url('../img/ui52.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;	

}
.ui6{
	width: 100%;
	position: relative;
}
.ui6-1{
	width: 100%;
	height: 1.3rem;
	background-image: url('../img/uititle1.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 0.4rem 0;
}
.ui6-1 h2{
 	width: 100%;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.36rem;
    color: white;

}
.ui6-1 h2 span{
	font-weight: 400;
}
.ui6-2 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.ui6-2 p{
	width: 100%;
    height: 0.85rem;
    font-size: 0.28rem;
    color: #333;
    text-align: center;
    line-height: 0.85rem;
}
.f-box .content{
    padding: 0 0.7rem 0;
}
form {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.table_form {
    font-size: 12px;
}
.table_form tr {
    width: 100%;
    height: 0.6rem;
}
.table_form tr th {
    width: 1.2rem!important;
    height: 0.6rem;
    display: block;
    color: #333;
    font-size: 0.3rem;
    line-height: 0.6rem;
    float: left;
    margin-top: 0.4rem;
    border: none!important;
}
tbody th {
    border-bottom: 1px solid #eee;
}
input.input-text {
    float: left;
    color: #333;
    font-size: 0.3rem;
    background: url('../img/input.png') center center no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    width: 4.0rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-indent: 1em;
    margin-top: 0.4rem;
}
form select {
    float: left;
    color: #333;
    font-size: 0.3rem;
    background: url('../img/input.png') center center no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    width: 4.0rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-indent: 1em;
    margin-top: 0.4rem;
}
.submit input {
    display: block;
    width: 2.99rem;
    height: 0.8rem;
    text-indent: 0;
    color: #fff;
    background: url('../img/btn.png') center center no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 0.8rem;
    outline: none;
    border: none!important;
    font-size: 0.3rem;
    margin-top: 0.5rem;
}
.tea_copyright {
    width: 100%;
    height: 1.2rem;
    font-size: 0.3rem;
    overflow: hidden;
}
.tea_copyright p {
    color: #666;
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.18rem;
    box-sizing: border-box;
}
.guding{
	width: 100%;
    height: 0.89rem;
    background-color: #007be3; 
    top: 0;
    position: fixed;
}
.guding ul{
	width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.guding ul li{
	width: 20%;
    height: 100%;
    float: left;
    position: relative;
    font-size: 0.32rem;
    text-align: center;
    line-height: 1rem;
    color: white;
}