$back:#3190e8;
$fff:#fff;

// 定义字体大小和颜色
@mixin sc($font,$color){
  font-size: $font;
  color: $color;
}

//定义背景图片
@mixin bg($url){
  background: url($url);
  background-repeat: no-repeat;
  background-size: 100%;
}

//定义圆角
@mixin borderRadius($radius){
  border-radius: $radius;
  -ms-border-radius:$radius;
  -o-border-radius:$radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

