body{
	font-family: "苹方","Helvetica","微软雅黑";
}
header{
	width: 100%;
	height: 100%;
}
.ban{
	width: 100%;
	height: 5.8rem;
	position: relative;
}
.ban img{
	width: 100%;
	height: 100%;
}
.toubu{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.share-box{
	width: 0.49rem;
	height: 0.49rem;
	background-image: url('../img/2017-03-30_161812.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 0.27rem;
	left: 0.25rem;
}
header p{
	width: 1rem;
	height: 0.56rem;
	position: absolute;
	left: 40%;
	top: 0.34rem;
}
header span{
	width: 1rem;
	height: 0.56rem;
	position: absolute;
	left: 50%;
	top: 0.34rem;
}
.youdian{
	width: 0.7rem;
	height: 0.3rem;
	background: white;
	border-radius: 0.6rem;
	position: absolute;
	right: 0.29rem;
	top: 0.27rem;
}
.youdian ul{
	margin-left: 0.17rem;
	margin-top: 0.09rem;
}
.youdian ul li{
	width: 0.08rem;
	height: 0.08rem;
	float: left;
	margin-right: 0.05rem;
	border-radius: 50%;
	background: #767676;
}
.photo1{
	width: 1.2rem;
	height: 1.2rem;
	border: 0.04rem solid #fff;
	position: absolute;
	left: 42%;
	top: 1rem;
	border-radius: 0.24rem;
	transform: rotate(60deg);
	opacity: 0.4;
}
.photo2{
	width: 1.2rem;
	height: 1.2rem;
	background: #fff;
	position: absolute;
	left: 42%;
	top: 1rem;
	border-radius: 0.24rem;
	transform: rotate(30deg);
}
.photo3{
	width: 1.2rem;
	height: 1.2rem;
	background-image: url('../img/touxiang.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 42%;
	top: 1rem;
	border-radius: 0.24rem;
}
.vip{
	width: 0.6rem;
	height: 0.3rem;
	background: #22b77f;
	border: 0.02rem solid #fff;
	border-radius: 0.6rem;
	position: absolute;
	left: 46%;
	top: 2.5rem;
}
.vip span{
	margin-left: -0.21rem;
	margin-top: -0.35rem;
	font-size: 0.2rem;
	font-weight: bold;
	color: white;
	font-style: oblique;
}
.shuhua{
	width: 100%;
	height: 0.3rem;
	text-align: center;
	line-height: 0.3rem;
	font-size:0.25rem;
	color: #d0d1d2; 
	margin-top: 0.1rem;
	position: absolute;
	left: 0;
	bottom: 10rem;
}
.chang1{
	width: 0.05rem;
	height: 0.3rem;
	background: white;
	position: absolute;
	left: 50%;
	top: 3.4rem;
	transform: rotate(45deg);
}
.chang2{
	width: 0.05rem;
	height: 0.3rem;
	background: white;
	position: absolute;
	left: 50%;
	top: 3.4rem;
	transform: rotate(135deg);
}
.chang3{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #595858;
	position: absolute;
	left: 50%;
	top: 3.5rem;
}
.xing{
	width: 2.4rem;
	height: 0.4rem;
	position: absolute;
	left: 37.8%;
	top: 4rem;
}
.xing ul li{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	margin-right: 0.1rem;
	background-image: url('../img/xingxing_03_03.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.xing ul li:nth-child(5){
	margin-right: 0;
}
nav{
	width: 100%;
	height: 12.5rem;
}
.num1{
	width: 100%;
	height: 10rem;
	background: white;
	margin-top: -0.9rem;
	position: relative;
	z-index: 50;
	opacity: 0.2;
	transform: skewY(5deg);
}
.num2{
	width: 100%;
	height: 10rem;
	background: white;
	margin-top: -10.2rem;
	position: relative;
	z-index: 50;
	opacity: 0.4;
	transform: skewY(-4deg);
}
.num3{
	width: 100%;
	height: 10rem;
	background: #f7f7f7;
	position: relative;
	margin-top: -10.5rem;
	z-index: 50;
	transform: skewY(8deg);
	overflow: hidden;
}
.num4{
	width: 100%;
	height: 10rem;
	background: white;
	margin-top: -9rem;
	position: relative;
	z-index: 50;
	opacity: 0.4;
	transform: skewY(-3deg);
}
main{
	width: 100%;
	height: 12.5rem;
	overflow: hidden;
	margin-top: -9.5rem;
	background: #f7f7f7;
	position: relative;
	z-index: 1000;
	position: relative;
}
.publish{
	width: 1.69rem;
	height: 0.04rem;
	margin-top: 0.35rem;
	margin-left: 3rem;
	position: relative;
}
.left-p{
	width: 0.73rem;
	height: 0.02rem;
	background: #e8e8e8;
	position: absolute;
	top: 0.01rem;
	left: 0;
}
.left-x{
	width: 0.06rem;
	height: 0.02rem;
	background: #ceced0;
	float: right;
}
.p-yuan{
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50%;
	background: #3b91f2;
	position: absolute;
	top: 0rem;
	left: 0.77rem;
}
.p-yuan1{
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50%;
	background: #36d61b;
	position: absolute;
	top: 0rem;
	right: 0.77rem;
}
.right-p{
	width: 0.73rem;
	height: 0.02rem;
	background: #e8e8e8;
	position: absolute;
	top: 0.01rem;
	right: 0;
}
.right-x{
	width: 0.06rem;
	height: 0.02rem;
	background: #ceced0;
	float: left;
}
.pub-t{
	width: 2.87rem;
	height: 0.22rem;
	margin-left: 2.75rem;
	margin-top: 0.15rem;
}
.pu{
	font-size: 0.22rem;
	color: #1985b9;
	line-height: 0.22rem;
	float: left;
}
.bl{
	font-size: 0.24rem;
	color: #21acec;
	line-height: 0.22rem;
	float: left;
}
.pu1{
	font-size: 0.22rem;
	color: #1985b9;
	line-height: 0.22rem;
	float: left;
	margin-left: 0.1rem;
}
.pi{
	font-size: 0.22rem;
	color: #4ddfa0;
	line-height: 0.22rem;
	float: left;
}
.pub-zi{
	width: 1.85rem;
	height: 0.2rem;
	margin-top: 0.15rem;
	margin-left: 39%;
}
.pub-kua{
	width: 0.04rem;
	height: 0.12rem;
	background: #e5e4e4;
	margin-top: 0.05rem;
	float: left;
}
.pub-han{
	font-size: 0.18rem;
	color: #000;
	line-height: 0.2rem;
	float: left;
	margin-left: 0.07rem;
	margin-right: 0.1rem;
}
.quan{
	width: 0.37rem;
	height: 0.44rem;
	margin-top: 0.38rem;
	margin-left: 3.65rem;
	background-image: url('../img/yuan_03.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.quan-xia{
	width: 0.01rem;
	height: 6.08rem;
	background: #c1c1c1;
	margin-left: 3.82rem;
}
.pub-box{
	width: 3.25rem;
	height: 3.55rem;
	margin-top: -5.5rem;
	margin-left: 0.32rem;
	position: relative;
	float: left;
}
.topic-tu{
	width: 3.16rem;
	height: 1.72rem;
	margin-top: 0.21rem;
	border: 0.02rem solid #fff;
	background-image: url('../img/top1_09.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1000;
}
.topic-tud{
	width: 3.08rem;
	height: 1.64rem;
	border: 0.02rem solid #cdcccc;
	position: absolute;
	right: 0;
	top: 0.88rem;
}
.topic-t{
	width: 2.20rem;
	height: 0.36rem;
	font-size: 0.26rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
}
.topic-t1{
	width: 3.1rem;
	height: 0.14rem;
	font-size: 0.14rem;
}
.topic-t2{
	width: 2.54rem;
	height: 0.29rem;
	font-size: 0.2rem;
	margin-top: 2.1rem;
}
.shou{
	width: 0.29rem;
	height: 0.29rem;
	border-radius: 50%;
	background: white;
	overflow: hidden;
	position: absolute;
	top: 3.1rem;
	left: 0rem;
	box-shadow: 0 0 0.05rem 0.01rem #ccc;
}
.shou-shu{
	width: 0.4rem;
	height: 0.15rem;
	font-size: 0.2rem;
	color: #ccc;
	position: absolute;
	top: 3.15rem;
	left: 0.44rem;
}
.shou1{
	width: 0.29rem;
	height: 0.29rem;
	border-radius: 50%;
	background: white;
	overflow: hidden;
	position: absolute;
	top: 3.1rem;
	left: 1.19rem;
	box-shadow: 0 0 0.05rem 0.01rem #ccc;
}
.shou-shu1{
	width: 0.4rem;
	height: 0.15rem;
	font-size: 0.2rem;
	color: #ccc;
	position: absolute;
	top: 3.15rem;
	left: 1.65rem;
}
.sitou1{
	width: 0.29rem;
	height: 0.29rem;
	border-radius: 50%;
	border: 0.02rem solid #fff;
	position: absolute;
	top: 3.1rem;
	left: 2.46rem;
	background-image: url('../img/tou3.png');
	background-size: 150% 150%;
	background-repeat: no-repeat;
}
.sitou2{
	width: 0.29rem;
	height: 0.29rem;
	border-radius: 50%;
	border: 0.02rem solid #fff;
	position: absolute;
	top: 3.1rem;
	left: 2.62rem;
	background-image: url('../img/tou2.png');
	background-size: 150% 150%;
	background-repeat: no-repeat;
}
.sitou3{
	width: 0.29rem;
	height: 0.29rem;
	border-radius: 50%;
	border: 0.02rem solid #fff;
	position: absolute;
	top: 3.1rem;
	left: 2.78rem;
	background-image: url('../img/tou1.png');
	background-size: 150% 150%;
	background-repeat: no-repeat;
}
.sitou4{
	width: 0.29rem;
	height: 0.29rem;
	border-radius: 50%;
	border: 0.02rem solid #fff;
	position: absolute;
	background: #22b980;
	top: 3.1rem;
	left: 2.94rem;
}
.erba{
	width: 0.16rem;
	height: 0.16rem;
	margin-left: 0.05rem;
	margin-top: 0.05rem;
	background-image: url('../img/tou4_46.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.pub-box1{
	width: 3.25rem;
	height: 3.55rem;
	margin-top: -4.1rem;
	margin-right: 0.25rem;
	position: relative;
	float: right;
}
.pub-box2{
	width: 3.25rem;
	height: 3.55rem;
	margin-top: -1.46rem;
	margin-left: 0.32rem;
	position: relative;
	float: left;
}
.contact{
	width: 6.7rem;
	height: 0.77rem;
	background: #1eaa4c;
	border-radius: 0.5rem;
	margin-top: 0.7rem;
	margin-left: 0.41rem;
	overflow: hidden;
	float: left;
}
.kuang{
	width: 0.39rem;
	height: 0.37rem;
	margin-left: 2.65rem;
	margin-top: 0.21rem;
	float: left;
	background-image: url('../img/kuang_03.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.con-zi{
	width: 0.74rem;
	height: 0.22rem;
	font-size: 0.18rem;
	color: white;
	margin-left: 0.12rem;
	margin-top: 0.14rem;
	float: left;
}
.con-zi1{
	font-size: 0.18rem;
	color: white;
	margin-top: 0.4rem;
	margin-left: 3.15rem;
}