body{
	font-family: "苹方","Helvetica","微软雅黑";
}
main{
	width: 7.5rem;
	height: 13.34rem;
	background-image: url('../img/44.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}
.zhe{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	overflow: hidden;
}
.middle{
	width: 6.84rem;
	height: 7.38rem;
	border-radius: 0.2rem;
	left: 0.32rem;
	top: 1.92rem;
	position: absolute;
	background: #fff;
	z-index: 1000;
}
.banner{
	width: 100%;
	height: 3.89rem;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
	background-image: url('../img/14.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.num1{
	width: 100%;
	height: 1.9rem;
	background: white;
	margin-top: -1.3rem;
	position: relative;
	z-index: 1000;
	opacity: 0.2;
	transform: skewY(5deg);
}
.num2{
	width: 100%;
	height: 1.9rem;
	background: white;
	margin-top: -1.8rem;
	position: relative;
	z-index: 1000;
	opacity: 0.4;
	transform: skewY(-4deg);
}
.num4{
	width: 100%;
	height: 1.9rem;
	background: white;
	margin-top: -1.6rem;
	position: relative;
	z-index: 1000;
	opacity: 0.4;
	transform: skewY(-3deg);
}
.num3{
	width: 100%;
	height: 1.9rem;
	background: white;
	position: relative;
	margin-top: -2rem;
	z-index: 1000;
	transform: skewY(8deg);
	overflow: hidden;
}
.nei{
	width: 100%;
	height: 3.54rem;
	margin-top: -1.4rem;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	background: white;
	position: relative;
	float: left;
	z-index: 1000;
}
.photo1{
	width: 1.2rem;
	height: 1.2rem;
	border: 0.04rem solid #fff;
	position: absolute;
	left: 42%;
	top: -1.5rem;
	border-radius: 0.24rem;
	transform: rotate(60deg);
	opacity: 0.4;
}
.photo2{
	width: 1.2rem;
	height: 1.2rem;
	background: #23cc5a;
	position: absolute;
	left: 42%;
	top: -1.5rem;
	border-radius: 0.24rem;
	transform: rotate(30deg);
}
.photo3{
	width: 1.2rem;
	height: 1.2rem;
	background-image: url('../img/touxiang.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 42%;
	top: -1.5rem;
	border-radius: 0.24rem;
}
.name{
	width: 1.7rem;
	height: 0.27rem;
	position: absolute;
	top: 0;
	left: 2.7rem;
}
.frist{
	font-size: 0.27rem;
	color: black;
	font-weight: bold;
	float: left;
}
.sec{
	font-size: 0.27rem;
	color: black;
	float: left;
}
.sp{
	width: 4.2rem;
	height: 0.24rem;
	margin-top: 0.44rem;
	margin-left: 1.5rem;
	float: left;
}
.sp-zi{
	font-size: 0.26rem;
	color: #7e7e7e;
	float: left;
}
.xing{
	width: 2.4rem;
	height: 0.4rem;
	margin-top: 1rem;
	margin-left: 2.55rem;
}
.xing ul li{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	margin-right: 0.1rem;
	background-image: url('../img/xingxing_03_03.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.xing ul li:nth-child(5){
	margin-right: 0;
}
.xv{
	width: 100%;
	height: 0.05rem;
	overflow: hidden;
	margin-top: 0.06rem;
	margin-left: 2.9rem;
}
.xv1{
	width: 10.7rem;
	height: 0.05rem;
	overflow: hidden;
	margin-top: 0.03rem;
}
.d-d{
	width: 0.05rem;
	height: 0.05rem;
	background: #666666;
	float: left;
}
.d-x{
	width: 1rem;
	height: 0.04rem;
	border: 0.01rem dashed #dfdfdf;
	float: left;
	margin-left: 0.06rem;
}
.d-d1{
	width: 0.05rem;
	height: 0.05rem;
	background: #666666;
	float: left;
	margin-left: 0.06rem;
}
.d1{
	width: 2.1rem;
	height: 0.66rem;
	background: white;
	margin-left: 0.92rem;
	margin-top: 0.68rem;
	overflow: hidden;
	float: left;
}
.d-tou{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: #22bd83;
	overflow: hidden;
	float: left;
}
.d-tou1{
	width: 0.28rem;
	height: 0.28rem;
	margin-left: 0.12rem;
	margin-top: 0.1rem;
	background-image: url('../img/2017-03-31_184916.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.d-t{
	width: 1.38rem;
	height: 0.66rem;
	float: left;
	margin-left: 0.12rem;
	overflow: hidden;
}
.d-z{
	width: 100%;
	height: 0.26rem;
	font-size: 0.2rem;
	color: #666666;
	margin-top: 0.02rem;
	line-height: 0.26rem;
}
.d-z1{
	width: 100%;
	height: 0.26rem;
	font-size: 0.2rem;
	color: #dfdfdf;
	line-height: 0.26rem;
}
.d2{
	width: 2.1rem;
	height: 0.66rem;
	background: white;
	margin-left: 1.09rem;
	margin-top: 0.68rem;
	float: left;
	overflow: hidden;
}
.d-tou2{
	width: 0.28rem;
	height: 0.28rem;
	margin-left: 0.11rem;
	margin-top: 0.13rem;
	background-image: url('../img/2017-03-31_192259.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.contact{
	width: 6.07rem;
	height: 0.77rem;
	background: #1eaa4c;
	border-radius: 0.5rem;
	margin-top: -3.7rem;
	margin-left: 0.73rem;
	overflow: hidden;
	position: relative;
	z-index: 1000;
}
.kuang{
	width: 0.39rem;
	height: 0.37rem;
	margin-left: 2.5rem;
	margin-top: 0.21rem;
	float: left;
	background-image: url('../img/kuang_03.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.con-zi{
	width: 0.74rem;
	height: 0.22rem;
	font-size: 0.18rem;
	color: white;
	margin-left: 0.12rem;
	margin-top: 0.14rem;
	float: left;
}
.con-zi1{
	font-size: 0.18rem;
	color: white;
	margin-top: 0.4rem;
	margin-left: 3rem;
}