header {
	width: 100%;
	height: 40px;
	background: #333333;
}

.header-main {
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	/* background: pink; */
}

.header-left {
	width: 670px;
	height: 100%;
	/* background: yellow; */
	float: left;
}

.header-right {
	width: 278px;
	height: 100%;
	/* background: yellow; */
	float: right;
}

.header-main div {
	font-size: 12px;
	line-height: 40px;
}

.header-main a {
	color: #b6bcba;
}

.header-main a:hover {
	color: white;
}

.fengexian {
	float: left;
}

.title1 {
	padding-right: 9px;
	float: left;
}

.title2 {
	padding-left: 9px;
	padding-right: 9px;
	float: left;
}

.gwc {
	width: 120px;
	height: 40px;
	float: right;
	background-image: url('../img/gwc1.png');
}

.gwc:hover {
	background-image: url('../img/gwc2.png');
}

.gwc span {
	margin-left: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #a2a29a;
}

.gwc:hover span {
	color: #ff6b0b;
}

.daohang {
	width: 1226px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	/* background: blue; */
	position: relative;
}

.logo {
	width: 55px;
	height: 55px;
	float: left;
	margin-top: 22px;
	background: #ff6702 url('../img/mi-logo.png') center;
}

.daohang-right {
	width: 983px;
	height: 100%;
	/* background: blue; */
	float: right;
}

.liebiao,
.liebiao li {
	float: left;
}

.liebiao li {
	font-size: 16px;
	color: #333;
	line-height: 100px;
	padding: 0px 10px;
}

.liebiao li a:hover {
	color: #df7140;
}

.search {
	width: 296px;
	height: 100%;
	/* background: pink; */
	float: right;
	position: relative;
}

.searchword {
	height: 30px;
	padding: 0px 5px;
	background: #cccccc;
	font-size: 12px;
	line-height: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: all 0.5s ease-in;
	cursor: pointer;
}

.searchword1 {
	left: 90px;
}

.searchword2 {
	left: 170px;
}

.searchword:hover {
	background: orange;
	color: white;
}

.ssk {
	width: 245px;
	height: 50px;
	border: 1px solid #dfdfdf;
	margin-top: 25px;
	float: left;
}

.btnSearch {
	width: 51px;
	height: 50px;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 0;
	margin-top: 25px;
	float: right;
	background-image: url('../img/search.png');
}

.btnSearch:hover {
	background-image: url('../img/search1.png');
}

.banner {
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	background: pink;
	position: relative;
}

.bannerbox {
	width: 1226px;
	height: 460px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.bannerbox li {
	width: 1226px;
	height: 460px;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 1s linear;
}

.bannerbox li:first-child {
	opacity: 1;
}

.banner img {
	width: 100%;
	height: 100%;
}

.banner aside {
	width: 234px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	z-index: 997;
}

.banner aside ul {
	margin-top: 20px;
}

.banner aside>ul>li {
	font-size: 14px;
	color: white;
	line-height: 42px;
	padding: 0px 24px;
	position: relative;
}

.banner aside>ul>li:hover {
	background: #ff6702;
}

.banner aside .jiantou {
	float: right;
	font-size: 16px;
}

.btnbox {
	width: 100px;
	height: 10px;
	float: right;
	position: absolute;
	right: 25px;
	bottom: 25px;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.btnbox li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid #a79a92;
}

.btnbox li:first-child {
	background: rgba(255, 255, 255, 0.5);
}

.btnbox li:first-child {
	background: #86786b;
}

.jiantou-lunbo div:hover {
	background: #6f6657;
}

.jiantou-lunbo img {
	width: 100%;
	height: 100%;
}

.jiantou-left {
	width: 41px;
	height: 69px;
	position: absolute;
	left: 234px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 998;
}

.jiantou-right {
	width: 41px;
	height: 69px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 998;
}

.tuijian {
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	/* background: pink; */
	margin-top: 14px;
}

.tuijian img {
	width: 100%;
	height: 100%;
}

.tuijian span {
	font-size: 12px;
	color: white;
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.tuijian0 {
	width: 234px;
	height: 100%;
	float: left;
	background-image: url('../img/tuijianback.png');
}

.tuijian0 li {
	float: left;
	width: 74px;
	height: 81px;
	margin: 2px;
	/* background: pink; */
	position: relative;
	opacity: 0.5;
}

.tubiao1 {
	width: 26px;
	height: 26px;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
}

.tuijian0 li:hover {
	opacity: 1;
}

.tuijian1 {
	width: 316px;
	height: 100%;
	margin-left: 14px;
	float: left;
	background: black;
	transition: all 0.5s linear;
}

.tuijian1:hover {
	box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.2);
}

.biaoti-mxdp {
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	/* background: pink; */
	position: relative;
}

.h2ys {
	margin-top: 44px;
	font-size: 22px;
	font-weight: 200;
	color: #333;
	float: left;
}

.btnleft {
	width: 36px;
	height: 24px;
	border: 1px solid #e0e0e0;
	background-image: url('../img/btnLegt.png');
	position: absolute;
	right: 35px;
	bottom: 6px;
	margin: auto;
}

.btnleft:hover {
	background-image: url('../img/btnLegt1.png');
}

.btnright {
	width: 36px;
	height: 24px;
	border: 1px solid #e0e0e0;
	background-image: url('../img/btnRight.png');
	position: absolute;
	right: 0px;
	bottom: 6px;
	margin: auto;
}

.btnright:hover {
	background-image: url('../img/btnRight1.png');
}

.mxdp-list {
	width: 1226px;
	height: 344px;
	margin: 0 auto;
	overflow: hidden;
	/* background: blue; */
}

.mxdp-list-inner {
	width: 2452px;
	height: 344px;
	transition: all 1s;
}

.mxdp-list1 {
	width: 234px;
	height: 340px;
	float: left;
	margin-top: 4px;
	margin-right: 14px;
	background: #fafafa;
	position: relative;
	border-top: 1px solid red;
}

.mxdp-pic {
	width: 160px;
	height: 160px;
	position: absolute;
	left: 0;
	right: 0;
	top: 56px;
	margin: auto;
}

.mxdp-title {
	width: 234px;
	font-size: 16px;
	text-align: center;
	margin-top: 230px;
}

.des {
	font-size: 12px;
	text-align: center;
	color: #b0c0d7;
	margin-top: 10px;
}

.price {
	font-size: 14px;
	color: red;
	text-align: center;
	margin-top: 20px;
}

.mxdp-list2 {
	width: 234px;
	height: 340px;
	float: left;
	margin-top: 4px;
	background: #fafafa;
	border-top: 1px solid red;
	position: relative;
}

.box {
	width: 100%;
	overflow: hidden;
	background: #f5f5f5;
	margin-top: 40px;
}

.box-title {
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}

.titleys {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 22px;
	font-weight: 200;
	color: #333;
	float: left;
}

.more {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 16px;
}

.pmore {
	width: 18px;
	height: 18px;
	float: right;
	background-image: url('../img/more1.png');
}

.more:hover {
	color: red;
}

.more:hover .pmore {
	background-image: url('../img/more2.png');
}

.znyj-list {
	width: 1240px;
	height: 634px;
	/* background: pink; */
	margin: 0 auto;
	padding-top: 20px;
}

.znyj-list li {
	float: left;
	width: 234px;
	height: 300px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 14px;
	background: white;
	transition: all 0.5s linear;
	position: relative;
}

.znyj-list li img {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	margin: auto;
}

.znyj-list li:hover {
	/* margin-top: -4px; */
	transform: translateY(-4px);
	box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.2);
}

.ptitle {
	font-size: 14px;
	text-align: center;
	margin-top: 200px;
}

.pdes {
	font-size: 12px;
	text-align: center;
	color: #b0c0d7;
	margin-top: 10px;
}

.p-price {
	font-size: 14px;
	color: red;
	text-align: center;
	margin-top: 20px;
}

.dapei {
	width: 1226px;
	height: 66px;
	margin: 0 auto;
	/* background: black; */
	position: relative;
	margin-top: 14px;
}

.dapei-title {
	position: absolute;
	top: 26px;
	left: 0;
	font-size: 22px;
	font-weight: 200;
	color: #333;
	float: left;
}

.type {
	font-size: 16px;
	position: absolute;
	top: 28px;
	right: 0;
}

.type a {
	margin: 0 0 0 16px;
}

.type a:hover {
	color: red;
	padding-bottom: 6px;
	border-bottom: 2px solid red;
}

.dapeiList {
	width: 1240px;
	height: 628px;
	margin: 0 auto;
	/* background: pink; */
}

.dapeiList li {
	float: left;
	width: 234px;
	height: 300px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 14px;
	background: white;
	position: relative;
	transition: all 0.5s linear;
	overflow: hidden;
}

.dapeiList li:hover {
	/* margin-top: -4px; */
	transform: translateY(-4px);
	box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.2);
}

.dapeiList li img {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
}

.dapeiList .ptitle {
	font-size: 14px;
	text-align: center;
	margin-top: 200px;
}

.dapeiList .pdes {
	font-size: 12px;
	text-align: center;
	color: #b0c0d7;
	margin-top: 10px;
}

.dapeiList .p-price {
	font-size: 14px;
	color: red;
	text-align: center;
	margin-top: 10px;
}

.dapeiList .ptitle1 {
	width: 94px;
	font-size: 14px;
	margin-top: 40px;
	margin-left: 20px;
}

.dapeiList .pdes1 {
	width: 94px;
	font-size: 12px;
	color: #b0c0d7;
	margin-top: 10px;
	margin-left: 20px;
}

.dapeiList .p-price1 {
	width: 94px;
	font-size: 14px;
	color: red;
	margin-top: 10px;
	margin-left: 20px;
}

.dapeiList .tupian11 {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-right: 25px;
}

.pinlun {
	width: 234px;
	height: 75px;
	background: #ff924a;
	position: absolute;
	left: 0;
	bottom: -75px;
	/* display: none; */
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}
	10% {
		opacity: 0.1;
		transform: translateY(-7.5px);
	}
	20% {
		opacity: 0.2;
		transform: translateY(-15px);
	}
	30% {
		opacity: 0.3;
		transform: translateY(-22.5px);
	}
	40% {
		opacity: 0.4;
		transform: translateY(-30px);
	}
	50% {
		opacity: 0.5;
		transform: translateY(-37.5px);
	}
	60% {
		opacity: 0.6;
		transform: translateY(-45px);
	}
	70% {
		opacity: 0.7;
		transform: translateY(-52.5px);
	}
	80% {
		opacity: 0.8;
		transform: translateY(-60px);
	}
	90% {
		opacity: 0.9;
		transform: translateY(-67.5px);
	}
	100% {
		opacity: 1;
		transform: translateY(-75px);
	}
}

.dapeiList li:hover .pinlun {
	animation: show 0.5s linear forwards;
}

.pinlun p {
	font-size: 12px;
	margin-top: 12px;
	margin-left: 30px;
	color: white;
}

.rpcp {
	width: 1240px;
	margin: 0 auto;
	/* background: pink; */
	overflow: hidden;
}

.rpcp li {
	float: left;
	width: 296px;
	height: 416px;
	margin-bottom: 14px;
	margin-left: 7px;
	margin-right: 7px;
	background: white;
	position: relative;
	transition: all 0.5s linear;
}

.rpcp li:hover {
	/* margin-top: -4px; */
	transform: translateY(-4px);
	box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.2);
}

.rpcp .rpcp1 {
	width: 244px;
	height: 66px;
	font-size: 14px;
	position: absolute;
	left: 0;
	right: 0;
	top: 253px;
	margin-bottom: 33px;
	margin: auto;
}

.author {
	font-size: 12px;
	position: absolute;
	left: 28px;
	bottom: 56px;
	color: #b0c0d7;
}

.rpcp .rpcp2 {
	font-size: 14px;
	position: absolute;
	left: 28px;
	bottom: 30px;
	margin: auto;
}

.neirong {
	width: 1240px;
	height: 420px;
	margin: 0 auto;
	/* background: pink; */
}

.neirong li {
	width: 296px;
	height: 420px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 14px;
	background: white;
	float: left;
	transition: all 0.5s linear;
	border-top: 1px solid red;
	position: relative;
}

.neirong li:hover {
	/* margin-top: -4px; */
	transform: translateY(-4px);
	box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.2);
}

.neirong1 {
	font-size: 16px;
	margin-top: 50px;
	text-align: center;
	color: orange;
}

.neirong2 {
	font-size: 20px;
	margin-top: 24px;
	text-align: center;
}

.neirong3 {
	font-size: 12px;
	margin-top: 18px;
	text-align: center;
	color: #b7bcd2;
}

.neirong4 {
	font-size: 16px;
	margin-top: 24px;
	text-align: center;
}

.lbd1 {
	width: 10px;
	height: 10px;
	border-radius: 50px;
	border: 2px solid white;
	float: left;
	margin: 0px 7px;
	background: #b0b0b0;
	cursor: pointer;
}

.lbd1:hover {
	background: orange;
}

.lbd1.active {
	background: #FFFFFF;
	border: 2px solid orange;
}

.lunbodian {
	float: left;
	width: 72px;
	height: 10px;
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: auto;
}

.lbjt1 {
	width: 20px;
	height: 48px;
	background-image: url('../img/neirongjantou1.png');
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
}

.lbjt2 {
	width: 20px;
	height: 48px;
	background-image: url('../img/neirongjantou2.png');
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
}

.neirong li:hover .lbjt1 {
	opacity: 0.5;
}

.neirong li:hover .lbjt1:hover {
	opacity: 1;
}

.neirong li:hover .lbjt2 {
	opacity: 0.5;
}

.neirong li:hover .lbjt2:hover {
	opacity: 1;
}

.video {
	width: 1240px;
	height: 285px;
	margin: 0 auto;
}

.video li {
	float: left;
	width: 296px;
	height: 285px;
	margin: 0 7px 60px 7px;
	background: white;
	transition: all 0.5s linear;
	position: relative;
}

.video li:hover {
	/* margin-top: -4px; */
	transform: translateY(-4px);
	box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.2);
}

.video li img {
	width: 296px;
	height: 180px;
}

.video a:hover {
	color: orange;
}

.video1 {
	font-size: 14px;
	text-align: center;
	margin-top: 33px;
}

.video2 {
	font-size: 14px;
	color: #c2c2c2;
	text-align: center;
	margin-top: 12px;
}

.play {
	width: 36px;
	height: 24px;
	border: 2px solid white;
	background: #2d424f;
	position: absolute;
	top: 146px;
	left: 25px;
	margin: auto;
	border-radius: 20px;
}

.video li:hover .play {
	background: #ff6700;
	border: 0;
}

.foot_top {
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	/* background: pink; */
	border-bottom: 1px solid #BEBEBE;
	line-height: 80px;
	color: #aeadad;
}

footer a:hover {
	color: #ff6700;
}

.foot_top ul {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.foot_top li {
	float: left;
}

.font_top_i {
	margin-right: 50px;
	margin-left: 50px;
}

.foot_middle {
	width: 1226px;
	height: 150px;
	margin-top: 40px;
	margin: 0 auto;
	margin-bottom: 50px;
	/* background: pink; */
}

.foot_middleleft {
	width: 980px;
	height: 112px;
	margin-top: 42px;
	border-right: 1px solid #BEBEBE;
	float: left;
}

.foot_middleleft1 {
	width: 163px;
	height: 100%;
	float: left;
}

.foot_middleleft11 {
	font-size: 14px;
	margin-bottom: 22px;
}

.foot_middleleft12 {
	font-size: 12px;
	margin-bottom: 14px;
}

.foot_middleright {
	width: 246px;
	margin-top: 42px;
	float: left;
}

.foot_middleright p {
	text-align: center;
}

.xiaoshi {
	width: 120px;
	height: 30px;
	border: 1px solid orange;
	font-size: 12px;
	color: orange;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	margin-left: 65px;
}

.xiaoshi:hover {
	color: white;
	background: orange;
}

.box2 {
	background: #fafafa;
}

.middlebot {
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
}

.youqing {
	width: 750px;
	margin-top: 25px;
	font-size: 12px;
	float: left;
	margin-left: 12px;
}

.youqing1 {
	width: 666px;
	margin-top: 2px;
	font-size: 12px;
	float: left;
	margin-left: 12px;
}

.biaoyu {
	width: 1226px;
	height: 75px;
	margin: 0 auto;
}

.daohangfloor {
	position: relative;
}

.item-children {
	position: absolute;
	top: 100px;
	left: 0;
	height: 230px;
	background: pink;
	width: 100%;
	z-index: 999;
}

.container {
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}

.neirong11 {
	width: 296px;
	height: 280px;
	overflow: hidden;
}

.neirong11 .inner {
	width: 888px;
	height: 280px;
	transition: all 1s;
}

.neirong11 .inner .inner1 {
	width: 296px;
	height: 280px;
	float: left;
}

.neirong4 span {
	padding: 5px;
	border: 1px solid orange;
	color: orange;
	font-size: 12px;
}

.neirong4 {
	margin-bottom: 5px;
}

.neirong4 .neirong41:hover {
	background: orange;
	color: white;
}

.neirong4 .neirong42 {
	color: lightgreen;
	border-color: lightgreen;
}

.neirong4 .neirong42:hover {
	background: lightgreen;
	color: white;
}

.neirong4 .neirong43 {
	color: purple;
	border-color: purple;
}

.neirong4 .neirong43:hover {
	background: purple;
	color: white;
}

.neirong4 .neirong44 {
	color: cornflowerblue;
	border-color: cornflowerblue;
}

.neirong4 .neirong44:hover {
	background: cornflowerblue;
	color: white;
}

.banner_menu_content {
	width: 600px;
	height: 460px;
	display: none;
	z-index: 610;
	position: absolute;
	left: 235px;
	background: #fff;
}

.banner_menu_content_ul {
	float: left;
	width: 280px;
}

.banner_menu_content_ul li {
	width: 250px;
	height: 73px;
	padding: 18px;
	float: left;
	position: relative;
	line-height: 40px;
	cursor: pointer;
}

.banner_menu_content_ul li a {
	color: #424242;
	font-size: 12px;
	float: left;
}

.banner_menu_content_ul li span {
	width: 59px;
	height: 25px;
	float: right;
	margin-top: 5px;
	border: 1px solid #ff6700;
	color: #FF6700;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	transition: all 3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
}

.banner_menu_content_ul li span:hover {
	background: orange;
	color: white;
}

.drop {
	width: 100%;
	height: 235px;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	top: 140px;
	left: 0;
	z-index: 999;
	box-shadow: 0 9px 20px 0px rgba(0, 0, 0, 0.5);
	display: none;
}

.drop1 {
	width: 1100px;
	height: 100%;	
	position: absolute;
	left: 50%;
	top: 0;
	margin-left:-550px ;
	display: none;
}

.drop1 ul {
	display: block;
	width: 160px;
	height: 100%;
	float: left;
}

.drop1 ul li {
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	color: #000;
}

.drop1 ul li:nth-child(1) {
	display: block;
	width: 50px;
	height:22px;
	line-height: 22px;
	color: orange;
	margin: 0 auto;
	margin-top: 5px;
	border: 1px solid orange;
}

.drop1 ul li:nth-child(2) {
	display: block;
	width: 140px;
	height: 126px;
	margin: 0 auto;
	margin-top: 10px;
	vertical-align: middle;
}

.drop1 ul li:nth-child(3) {
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 20px;
	margin-top: 10px;
}

.drop1 ul li:nth-child(4) {
	display: block;
	width: 100%;
	height: 20px;
	color: orange;
	margin: 0 auto;
}

.droptu {
	width: 100%;
	/*height: 100%;*/
	line-height: 126px;
	display: block;
}

.xian {
	width: 1px;
	height: 120px;
	background: #ccc;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.drop .drop1 ul .tts {
	border: 0;
}