.header{
	width: 100%;
	height: 40px;
	background: #323232;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}
.header1{
	width: 1226px;
	height: 40px;
	background: #323232;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;

}

.x{
	width: 1px;
	height: 13px;
	background: #424242;
	margin-right: 7px;
	float: left;
    margin-top: 13.5px;   
}
.a1{
	
	margin-right:7px ; 
	float: left;
}
.b{
	
	margin-right:7px ; 
	float: left;
}
.c{
	
	margin-right:7px ; 
	float: left;
}
.d{
	
	margin-right:7px ; 
	float: left;
}
.e{
	
	margin-right:7px ; 
	float: left;
}
.f{
	
	margin-right:7px ; 
	float: left;
}
.g{
	
	margin-right:7px ; 
	float: left;
}
.k{
	
	margin-right:7px ; 
	float: left;
}
.l{
	
	margin-right:7px ; 
	float: left;
}
.i{
	
	margin-right:7px ; 
	float: left;
}
.header2{
	float:right;
	width: 273px;
	height: 40px;
	background: #323232;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;  
}
.login{
	float: left;
	margin-right: 6px;
	
}
.zhuce{
	float: left;
	margin-right: 6px;
	
}
.xiaoxi{
	float: left;
	margin-right: 26px;
	
}
.gwc{
	width: 120px;
	height: 40px;
	float: right;
	background-image: url('../img/gouwu.png')
}
.gwc:hover{

background-image: url('../img/ggc.png')
}
.daohinglan{
	width: 1226px;
	height: 100px;
	background: #ffffff;
	margin: 0 auto;
	
	
}
.mi{
	width:55px; 
	height: 55px;
	margin-top: 22px;
	background: #ff6700 url('../img/mi-logo.png') center;
	float: left;
}
.x2{
	width: 635px;
	height: 100px;
	background: white;
	margin: 0 auto;
	font-size: 14px;
	line-height:100px;
	text-align: center;
   
}
.x3{
	width: 295px;
	height: 100%;	
	float: right;
}
.ssk{
	width: 243px;
	height: 48px;
	border: 1px solid #dfdfdf;
	margin-top: 26px;
	float: left;

}

.btnss{
	width: 50px;
	height: 48px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	border-left:0px;
	margin-top: 26px;
	margin-right: 3px;
	float: right;
	background-image: url('../img/ss.png');
}
.btnss:hover{
	
	background-image: url('../img/ss3.png'); 

}

.x2 li a{
	float: left;
	line-height: 100px;
	text-align: center;
	font-size: 12px;
	color: black;
	margin-right: 23px;
}
.x2 li a:hover{
	color:#ff6702; 
}
.x3{
	width: 296px;
	height: 100px;
	float: right;
	background: white;
	margin-top: -100px;
}

.ss{   
	width: 51px;
	height: 50px;
	float: right;
	margin-top: 25px;
}
.bb{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	background: black;
	position: relative;

}
.zuojt{
	font-size: 60px;
	position: absolute;
  	top:215px;
	left: 19%;
	margin: auto;
	color: #c9ced3;
	z-index: 10;
	cursor:pointer;
}
.zuojt:hover{
background: white;
}
.zuojt1:hover{
background: white;
}
.zuojt1{
 	font-size: 60px;
	position: absolute;
 	top:215px;
	right: 0;
	color: #c9ced3;
	margin: auto;
	z-index: 10;
cursor:pointer;
}


.bb img{
	height: 100%;
	width: 100%;
	float: right;
	top: 0;
	left: 0;
	position: absolute;
	
}
.bb img:nth-child(1){
	z-index: 1;
}
.box{
	width: 92px;
	height:12px ;
	position: absolute;
	right: 60px;
	bottom: 20px;
	z-index: 2;	
}
.box ul{
	width: 92px;
	height:12px;
	justify-content: space-between;
	display: flex;
}
.box ul li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: 2px solid #000;
}
.box ul li:nth-child(1){
	background: black;
}




.aside1{
	height: 460px;
	width: 234px;
	margin: auto;
	left: 0px;
	top: 0px;
	position: absolute;
	background: black;
	opacity: 0.5;
	float: left;
	z-index: 5;
} 
.aside1 ul{
	margin-top: 20px;
}
.aside1 li a{
  	color: #efeae6;
  	line-height: 42px;
  	font-size: 16px;
  	margin-left: 10px;
  	padding-left: 24px;
}
.pp span{
 	color: #efeae6;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
.pp li:hover{
	background: #ff6702;
}

.header a{
	color: #b6bcba;
}
.header a:hover{
	color: white;
}
.kongbai{
	width: 1226px;
	height:15px ;
	margin: 0 auto;
	background:white;
}
.four{
	width: 1226px;
	height:210px ;
	margin: 0 auto;
	background: white;
	overflow: hidden;
	
}
.four1{
	width: 234px;
	height: 170px;
	background: #5f5750;
    float: left;
    margin-right: 14px;

}
.six{

}
.six li{
	width: 76px;
	height: 82px;
	background: #5f5750;
	float: left;
	opacity: 0.6;
}
.six li:hover{
opacity: 1;
}

.four2{
	width: 316px;
	height: 170px;
	background: white;
	float: left;
	margin-right: 14px;
  	transition: all .5s  ease;
	 
	/* background-image: url('../img/xmad_14889671966374_sVbtO.jpg') */
}
.four2:hover{
    box-shadow:0px 10px 20px 6px rgba(0,0,0,0.2);
	/* transition: box-shadow  .5s  ease; */
	/* transition: box-shadow 0s linaer; */
}
.four3:hover{
   box-shadow:0px 10px 20px 6px rgba(0,0,0,0.2);
	/* transition: box-shadow  .5s  ease; */
	/* transition: box-shadow 0s linaer; */
}
.four4:hover{
   box-shadow:0px 10px 20px 6px rgba(0,0,0,0.2);
	/* transition: box-shadow  .5s  ease; */

	/* transition: box-shadow 0s linaer; */
}
.tu1{
	width: 316px;
	height: 100%;
}
.four3{
	width: 316px;
	height: 170px;
	background: red;
 	float: left;
 	margin-right: 14px;
 	transition: all .5s  ease;
 	/* background-image: url('../img/xmad_14875757172024_bjSpf.jpg') */
}
.tu2{
	width: 316px;
	height: 100%;
}
.four4{
	width: 316px;
	height: 170px;
	background: red;
 	float: left;
 	transition: all  .5s  ease;
 	/* background-image: url('../img/9k=.jpg') */
}
.tu3{
	width: 316px;
	height: 100%;
}
.xiaomi{
	width: 1226px;
	height: 40px;
	background: white;
	margin: 0 auto;
	
}
.xmmx{
	font-size: 20px;
	color: black;
	float: left;
	
}
.zuo1{
	width: 40px;
	height: 26px;
	margin-top: 7px;
	float: right;
	font-size: 18px;
	color: red;
	text-align: center;
	margin-right: 44px;
	background: #999;
}


.you1{
	width: 40px;
	height: 26px;
	margin-top: 7px;
	float: right;
	font-size: 18px;
	color: white;
	text-align: center;
	margin-right: -78px;
	background: #999;
}

.wugetu{
	width: 1170px;
	height: 341px;
	background: white;
	margin: 0 auto;
	overflow: hidden;
}
.wugetu111111{
	width: 2480px;
	height: 341px;
   }
.wugetu111111 li{
	width: 234px;
	height:340px;
	float: left;
}

.diyitu{
 width: 234px;
 height: 340px;
 background: #f5f5f5;
 
 float: left;
 margin-right: 14px;
}

.diyi{
	width: 100%;
	height: 1px;
	background: red;
	float: left;

}
.shouji1{
	width: 160px;
	height: 160px;
	margin:0 auto;
	margin-left: 38px;
	margin-top: 50px;
	float: left;

}
.title{
	/* width: 74px;
	height: 16px; */
	color: black;
	font-size: 15px;
	margin-top: 18px;
	float: left;
	margin-left: 73px;

}
.title1{
	/* width: 194px;
	height: 18px; */
	color: #b2b2b4;
	font-size: 13px;
	margin-top: 0px;
	float: left;
	margin-left: 20px;
	margin-top: 4px;

}
.title2{
	/* width: 234px;
	height: 21px; */
	color: #ff6709;
	font-size: 16px;
	margin-top: 0px;
	float: left;
	margin-left: 82px;
	margin-top: 10px;

}
.di2tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
margin-right: 14px;
}

.di2{
	width: 100%;
	height: 1px;
	background: blue;
	float: left;
}
.shouji2{
	width: 160px;
	height: 160px;
	margin:  auto;
	margin-left: 38px;
	margin-top: 50px;

}
.title3{
	/* width: 74px;
	height: 16px; */
	color: black;
	font-size: 15px;
	margin-top: 18px;
	float: left;
	margin-left: 52px;

}
.title4{
	/* width: 194px;
	height: 18px; */
	color: #b2b2b4;
	font-size: 13px;
	margin-top: 0px;
	float: left;
	margin-left: 31px;
	margin-top: 4px;

}
.title5{
	/* width: 234px;
	height: 21px; */
	color: #ff6709;
	font-size: 16px;
	margin-top: 0px;
	float: left;
	margin-left: 80px;
	margin-top: 10px;

}
.di3tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
margin-right: 14px;

}

.di3{
	width: 100%;
	height: 1px;
	background: blue;
float: left;
}
.shouji3{
	width: 160px;
	height: 160px;
	margin:  auto;
	
	margin-left: 38px;
	margin-top: 50px;

}
.title6{
	/* width: 74px;
	height: 16px; */
	color: black;
	font-size: 15px;
	margin-top: 18px;
	float: left;
	margin-left: 71px;

}
.title7{
	/* width: 194px;
	height: 18px; */
	color: #b2b2b4;
	font-size: 13px;
	margin-top: 0px;
	float: left;
	margin-left: 31px;
	margin-top: 4px;

}
.title8{
	/* width: 234px;
	height: 21px; */
	color: #ff6709;
	font-size: 16px;
	margin-top: 0px;
	float: left;
	margin-left: 94px;
	margin-top: 10px;

}
.di4tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
margin-right: 14px;

}

.di4{
	width: 100%;
	height: 1px;
	background: yellow;
float: left;
}
.shouji4{
	width: 160px;
	height: 160px;
	margin:  auto;
	
	margin-left: 38px;
	margin-top: 50px;

}
.title9{
	/* width: 74px;
	height: 16px; */
	color: black;
	font-size: 15px;
	margin-top: 18px;
	float: left;
	margin-left: 73px;

}
.title10{
	/* width: 194px;
	height: 18px; */
	color: #b2b2b4;
	font-size: 13px;
	margin-top: 0px;
	float: left;
	margin-left: 31px;
	margin-top: 4px;

}
.title11{
	/* width: 234px;
	height: 21px; */
	color: #ff6709;
	font-size: 16px;
	margin-top: 0px;
	float: left;
	margin-left: 87px;
	margin-top: 10px;

}
.di5tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;


}

.di5{
	width: 100%;
	height: 1px;
	background: green;
float: left;
}
.shouji5{
	width: 160px;
	height: 160px;
	margin:  auto;
	
	margin-left: 38px;
	margin-top: 50px;

}
.title12{
	/* width: 74px;
	height: 16px; */
	color: black;
	font-size: 15px;
	margin-top: 18px;
	float: left;
	margin-left: 58px;

}
.title13{
	/* width: 194px;
	height: 18px; */
	color: #b2b2b4;
	font-size: 13px;
	margin-top: 0px;
	float: left;
	margin-left: 49px;
	margin-top: 4px;

}
.title14{
	/* width: 234px;
	height: 21px; */
	color: #ff6709;
	font-size: 16px;
	margin-top: 0px;
	float: left;
	margin-left: 89px;
	margin-top: 10px;

}
.zhineng{
	width: 100%;
	height: 119px;
	margin-top: 40px;
	background:#f5f5f5;
	
}
.znyj{
	font-size: 21px;
	float: left;
	margin-left: 62px;
	margin-top: 85px;
}
.chan{
	width: 109px;
	height: 36px;
	float: right ;
	margin-top: 70px;
	margin-right:62px ;
	background-image: url('../img/chakan1.png')
}
.chan:hover{
	background-image: url('../img/chakan2.png')
}
.haha{
	width: 100%;
	height: 630px;
	background: #f5f5f5;
	overflow: hidden;
	

}
.haha1{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	background: #f5f5f5;
}
.hhzuo{
	width: 234px;
	height: 100%;
	float: left;
	margin-top: 8px;
}
.hhzuo:hover{

	transform:translateY(-5px);
}


.hhyou{
	width: 978px;
	height: 301px;
	float: right ;
	background: #f5f5f5;
	margin-top: 8px;
}
.hhyou li{
	width: 234px;
	height: 301px;
	background: white;
	float: left;
	margin: 0 auto;
	transition: all 0.3s linear;
}
.tiao{
	width: 14px;
	height: 301px;
	background: #f5f5f5;
	float:left;
}
.pms{
	width: 160px;
	height: 160px;
	margin-top: 15px;
	margin-left:37px;
}
.pms1{
	width: 160px;
	height: 160px;
	margin-top: 34px;
	margin-left:37px;
}
.xinpin{
	color:white ;
	background: #83c44e;
	font-size: 12px;
	width: 64px;
	height: 20px;
	margin-left: 85px;
    line-height: 20px;
    text-align: center;
}
.mijia{
	font-size:14px; 
	color: black;
	text-align: center;	
}
.wan{
	color: #b2b2b4;
	font-size: 13px;
		text-align: center;
}
.sansi{
	color: #ff6709;
	font-size: 16px;
	text-align: center;
		
}
.hahaxia{
	width: 978px;
	height: 301px;
	float: right ;
	background: #f5f5f5;
	margin-top: 14px;
}
.tiao{
	width: 14px;
	height: 301px;
	background: #f5f5f5;
	float:left;
}
.hahaxia li{
	width: 234px;
	height: 301px;
	background: white;
	float: left;
	margin: 0 auto;
	transition:all 0.3s linear;
}
.hhyou li:hover{
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);	
}
.hahaxia li:hover{
 box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
.dapei0{
	width: 100%;
	height: 65px;
	background: #f5f5f5;
}
.da{
	font-size: 22px;
	color: #333;
	margin-left: 62px;
	float: left;
}

.dapei{
	height: 645px;
	width: 100%;	
   	background: #f5f5f5;
   	overflow: hidden;

}
.dapei1{
	height: 645px;
	width: 1226px;
	margin: 0 auto;
   	background: #f5f5f5;
   	margin-top: 10px;
   	
}
.dp1{
	width: 234px;
	height: 300px;
	background: #f5f5f5;
	float: left;
	margin-right: 14px;
}
.dap1{
	width: 234px;
	height: 300px;
	
}
.dp1:hover{
	transform:translateY(-5px)
}


.wan1{
	color: #ff6700;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}
.sansi1{
	color: #666666;
	font-size: 12px;
	text-align: center;
	margin-top: 20px;	
}
.bottom{
	width:100% ;
	height:89px ;
	position: absolute;
  	left: 0;
  	bottom: -100px;
  	margin: auto;
  	background: #ff6700;
  	opacity: 0;
  	transition: all 0.5s  linear ;
}
.wenzi1{
  width: 100%;
  height: 81px; 
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 15px;
  color: white;

}
.wenzi2{
  width: 100%;
  height: 41px; 
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 12px;
   color: white;

}
.dap2 li{
	width: 234px;
	height: 301px;
	background: white;
	float: left;
	margin: 0 auto;	
	overflow: hidden;
	position: relative;
}

.dap2 li:hover{
   box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
.dap2 li:hover .bottom{
animation: xianshi  1s  linear   forwards;
}
@keyframes xianshi{
      0%{
      opacity: 0;
      transform: translateY(0px);
      }
      10%{
        opacity: 0.1;
          transform: translateY(-10px);
      }
  20%{
        opacity: 0.2;
          transform: translateY(-20px);
      }
  30%{
        opacity: 0.3;
          transform: translateY(-30px);
      }
  40%{
        opacity: 0.4;
          transform: translateY(-40px);
      }
  50%{
        opacity: 0.5;
          transform: translateY(-50px);
      }
   60%{
        opacity: 0.6;
          transform: translateY(-60px);
      }
  70%{
        opacity: 0.7;
          transform: translateY(-70px);
      }
  80%{
        opacity: 0.8;
          transform: translateY(-80px);
      }
  90%{
        opacity: 0.9;
          transform: translateY(-90px);
      }
  100%{
        opacity: 1;
          transform: translateY(-100px);
      }
  }
.dap11{
	width: 234px;
	height: 300px;
	margin-top: 10px;
}
.dap22 li{
	width: 234px;
	height: 301px;
	background: white;
	float: left;
	margin: 0 auto;	
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}
.dp11:hover{
	transform:translateY(-5px)
}
.dap22 li:hover{
   box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
.dap22 li:hover .bottom{
animation: xianshi  1s  linear   forwards;
}
.liagetu{
	width: 234px;
	height: 301px;
	margin-top: 10px;
	background:white;
	float: left;
	
}
.first{
	width: 234px;
	height: 141px;
	background:white;
	float: left;
	transition: all 0.3s linear;
}
.first:hover{
 box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);

}
.second:hover{
 box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);

}
.wenzi333{
    font-size: 14px;
    color: black;
 margin-top: 40px;
  margin-left: 30px;

}
.jiaqian{
	font-size: 12px;
	color: #ff6700;
	   margin-left: 30px;
 
}
.liagetu1{
	margin-top: -43px;
	width: 80px;
	height: 80px;
	margin-left: 120px;

}
.second{
	width: 234px;
	height: 141px;
	background:white;
	float: left;
	margin-top: 10px;
	transition: all 0.3s linear;
}
.liagetu2{
	margin-top: -43px;
	width: 48px;
	height: 48px;
	margin-left: 140px;

}
.remen{
	font-size: 16px;
	float: right;
	color: black;
	margin-left: 4px;
}
.remen:hover{
	color:  #ff6700;
	 text-decoration:underline;
}
.baohutao:hover{
	color:  #ff6700;
	 text-decoration:underline;
}
.tiemo:hover{
	color:  #ff6700;
	 text-decoration:underline;
}
.qitapeijian:hover{
	color:  #ff6700;
	 text-decoration:underline;
}
.baohutao{
	font-size: 16px;
float: right;
	color: black;
margin-left: 4px;
}
.tiemo{
		font-size: 16px;
	float: right;
color: black;
margin-left: 4px;
}
.qitapeijian{
	font-size: 16px;
	float: right;
	color: black;
	margin-left: 4px;

}
.wugetu1{
	width: 1226px;
	height: 350px;
	background: white;
	margin: 0 auto;
	overflow: hidden;

}
.wugetu2{
	width: 1236px;
	height: 350px;
	background: white;
	margin: 0 auto;
	overflow: hidden;

}
.diyitu1{
 width: 234px;
 height: 340px;
 background: #f5f5f5;
 
 float: left;
 margin-right: 14px;

 margin-top: 5px;

}
.di33tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
margin-right: 14px;
 margin-top: 5px;

}
.di55tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
 margin-top: 5px;

}
.di22tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
margin-right: 14px;
 margin-top: 5px;
}
.di44tu{
 width: 234px;
 height: 100%;
 background: #f5f5f5;
float: left;
margin-right: 14px;
 margin-top: 5px;

}
.diyitu1:hover{
	transform:translateY(-5px);
}
.di22tu:hover{
	transform:translateY(-5px);
}
.di33tu:hover{
	transform:translateY(-5px);
}
.di44tu:hover{
	transform:translateY(-5px);
}
.di55tu:hover{
	transform:translateY(-5px);
}
.diyitu11:hover{
	 box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);
}
.di222tu:hover{
	 box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);
}
.di333tu:hover{
	 box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);
}
.di444tu:hover{
	 box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);
}
.di555tu:hover{
	 box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
 transform:translateY(-5px);
}

.diyitu11{
width: 234px;
 height: 340px;
 background: #f5f5f5;
 
 float: left;
 margin-right: 14px;
transition: all 0.6s linear ;
 margin-top: 5px;
 margin-left: 5px;


}
.wdt3{
	position: absolute;
	right:0;
	top: 146px;
	opacity: 0;
  transition: all 0.5s  linear ;
  width: 20px;
	height: 48px;
	  background-image: url('../img/wodetian88.png');
}

.wdt{
	width: 20px;
	height: 48px;
	position: absolute;
	left:0;
	top: 146px;
	opacity: 0;
  transition: all 0.5s  linear ;
  background-image: url('../img/wodetian.png');

}
.wdt:hover{
	 background-image: url('../img/wodetian1.png');
}
.wdt3:hover{
	 background-image: url('../img/wodetian4.png');
}
.diyitu111{
	 position: relative;
	 width: 228px;
 	height: 340px;
 	background: #f5f5f5;
 position: relative;
 	float: left;
 	margin-right: 14px;
	transition: all 0.3s linear ;
	 margin-top: 5px;
	 margin-left: 5px;
}
.yuan{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #999;
	border: 1px solid black;
	position: absolute;
	left:86px;
	top: 300px;
	bottom: 10px;
}
.yuan1{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #999;
	
	position: absolute;
	left:106px;
	top: 300px;
	bottom: 10px;
}
.yuan2{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #999;
	
	position: absolute;
	left:126px;
	top: 300px;
	bottom: 10px;
}
.yuan1:hover{
	border: 1px solid black;
}
.yuan2:hover{
	border: 1px solid black;
}

.diyitu111:hover{
  box-shadow: 0px 14px 20px 8px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}
.diyitu111:hover .wdt{
		opacity: 1;
		
}

.diyitu111:hover .wdt3{
		opacity: 1;
}


.di333tu{
 width: 234px;
 height: 340px;
 background: #f5f5f5;
float: left;
margin-right: 14px;
 margin-top: 5px;
transition: box-shadow 0.3s linear ;
}

.di222tu{
width: 234px;
 height: 340px;
 background: #f5f5f5;
float: left;
margin-right: 14px;
 margin-top: 5px;
 transition: box-shadow 0.3s linear ;
}
.di444tu{
width: 234px;
 height: 340px;
 background: #f5f5f5;
float: left;
margin-right: 14px;
 margin-top: 5px;
transition: box-shadow 0.3s linear ;
}
.di555tu{
 width: 234px;
 height: 340px;
 background: #f5f5f5;
float: left;

 margin-top: 5px;
transition: box-shadow 0.3s linear ;
}
.xiaomi1{
	width: 1226px;
	height: 60px;
	background: white;
	margin: 0 auto;
	
}
.xmmx1{
	font-size: 22px;
	color: black;
	float: left;
	margin-top: 20px;
	
}
.last{
	width: 100%;
	height: 100%;
	background:white;
	float: left;

}
.last1{
	width: 1226px;
	height: 61px;
	background: white;
	margin: 0 auto;
	border-bottom: 1px solid #E0E0E0;
}
.fuwu1{
	width: 126px;
	height: 25px;
margin-top: 20px;
margin-left: 50px;
float: left;
	background-image: url('../img/fuwu.png');
}
.gang{
	width: 1px;
	height: 25px;
	margin-top: 26px;
	margin-left: 70px;
	float: left;
}
.fuwu1:hover{
	background-image: url('../img/fuwu2.png');
}
.heng{
	width: 1226px;
	height: 1px;
	background:#e0e0e0;
	margin: 0 auto;
}
.last2{
	width: 1226px;
	height: 211px;
	background: white;
	margin: 0 auto;
}
.post{
	width: 160px;
	height: 112px;
	margin-top: 48.5px;
	float: left;

}
.post1{
	    color: #424242;
	    font-size: 14px;
	    
	    margin-bottom: 26px
}
.post2{
	     color: #757575;
	    font-size: 12px;
	    margin-bottom: 10px;
}
.weima{
	width: 252px;
	height: 112px;
	float: right;
	border-left: 1px solid #E0E0E0;
	margin-top: 48.5px;
	   text-align: center;
}
.phone{
	 font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.phone1{
	font-size: 12px;
}
.phone2{
	font-size: 12px;
}
.weima1{
	width: 122px;
	height: 30px;
	margin: auto;
	margin-top: 30px;
	background-image: url('../img/kefu.png');
}

.weima1:hover{
	background-image: url('../img/kefu1.png');
}
.size{
	width: 100%;
	height: 166px;
	padding: 30px 0px;
	background: #f5f5f5;
	    font-size: 12px;
	    float: left;
}
.logn{
	width: 1226px;
	height: 100%;
	background: #f5f5f5;
	margin: auto;
}

.logn111{
	    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background-image: url('../img/mi.png');
}
.logn p a{
	color: #b0b0b0;
}
.logn p{
color: #b0b0b0;
}
.shangcheng{
	width: 380px;
	height: 48px;
	    float: right;
	    margin-top: -40px;
}
.slogan{
		margin-top: 31px;
		margin-right: 73px;
		float: right;

}
.wocao{
	width: 100%;	
	background: #f4f4f4;
}
.wocao1{
width:1236px;
height: 100%;
background: #f4f4f4;
margin: auto;
overflow: hidden;
}
.zhuang1:hover{
	   color: #ff6700;
}
.bofang{
	width: 30px;
	height: 30px;
	background-image: url('../img/箭头.png');
	position: absolute;
	left: 20px;
	top: 120px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
}
.bofang:hover{
	background-image: url('../img/26568.png');
	opacity: 1;
}
.zhuang{
	margin-top: 10px;
	width: 296px;
	height:300px;
	transition:box-shadow 0.3s linear ;
	float: left;
	margin-right: 10px;
	position: relative;
}
.zhuang:hover{
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}
.zhuang .img{
	width: 296px;
	height: 180px;
	float: left;
}
.zhuang1{
	  margin: 20px 0px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.zhuang2{
	    height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.zhineng1{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.dapei333{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}