.banner{
	width: 100%;
	height: 3.66rem;
	background-image: url('../img/TB2g2Pji0FopuFjSZFHXXbSlXXa_!!178-0-yamato.jpg_760x760Q30s0.jpg');
	background-size: contain;

}
.top{
	width: 100%;
	height: 0.9rem;
	background: black;
	background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
	position: relative;
}
.daohingicon{
	width: 0.86rem;
	height: 0.9rem;
	float: left;
	margin: auto;
}
.daohingicon1{
	width: 0.5rem;
	height: 0.9rem;
	margin-left: 0.36rem;
}
.denglu{
	width: 0.48rem;
	height: 0.9rem;
    margin-right: 0.36rem;
    font-size: 0.24rem;
    line-height: 0.9rem;
	float: right;
	color: white;
}
.ssk{
	width:5.08rem;
	height: 0.66rem;
	background: white;
	margin-top: 6px;
	margin-left: 0.31rem;
	float: left;
	opacity: 0.85;
}
.sskwenzi{
	margin-left: 0.2rem;
    font-size: 14px;
    color:#999 ;
    line-height:0.66rem;
    float: left;
}
.sousuo{
	width: 0.4rem;
	height: 0.6rem;
	float: right;
	margin-right: 0.2rem;

}
.lunbodian{
	width: 100%;
	height: 0.28rem;
	position: absolute;
	left: 0;
	top: 3.2rem;
	right: 0;
}
.lunbodian ul{
	display: block;
	margin-top: 0.07rem;
	float: left;
	margin-left: 3rem;
}
.lunbodian ul li{
	/* border-radius: 50%;
	width: 7px;
	height: 0.14rem;
	border: 1px solid black;
	background: white; */
	margin-right:0.05rem;
	float: left;
}
.yuan{
	border-radius: 50%;
	width: 0.14rem;
	height: 0.14rem;
	border: 0.02rem solid black;
	background: white;
	margin-right:0.05rem;
	float: left;
}
.lunbodian ul li .yuan1{
	border-radius: 50%;
	width: 0.14rem;
	height: 0.14rem;
	border: 0.02rem solid black;
	background: black;
	margin-right:0.05rem;
	float: left;
}
.content{
	width: 100%;
	height: 2.68rem;
	background: white;

}
.content ul {
float: left;
width: 100%;
height:1.26rem;
margin-top: 0.2rem;

}
.content ul li{
	width: 1.5rem;
	height: 1.1rem;
	background: white;
	float: left;
	font-size: 0.24rem;
	text-align: center;

}

.jifen{
	width: 0.72rem;
	height: 0.72rem;
	margin-right: 0.1rem;
	display: block;
	
	margin:0 auto ;
}
.tianmaoredian{

	width: 100%;
	background: white;
	height:1.4rem;
}
.tianmaore{
	display: block;
	float: left;
	height: 1.16rem;
	width: 2.1rem;
	/* height: 0.8rem;
	width: 2.1rem; */
}
.title1{
font-size: 0.28rem;
color: black;
float: left;
height: 0.35rem;
width: 5.24rem;
margin-top: 0.2rem;
}
.title2{
font-size: 0.28rem;
color: red;
float: left;
height: 0.35rem;
width: 5.24rem;
margin-top: 0.2rem;
}
.jinri{
	width: 100%;
	height:2.22rem;
	background:#F0F0F0;
margin: 0.01rem;
}
.jinri1{
width:3.5rem;
height: 2.16rem;
float: left;
margin-right: 0.2rem;
margin-left: 0.02rem;
}
.jinri2{
width:3.5rem;
height: 2.16rem;
float: left;
margin-right: 0.2rem;
margin-left: 0.02rem;
}
.biqiang{
	width: 100%;
	height: 0.6rem;
	background:#F0F0F0;
	display: block;
    font-size: 0.28rem;
    line-height: 0.26rem;
    text-align: center;
}
.rehuo{
	color: red;
    font-size: 0.28rem;
    line-height: 0.26rem;
   
    float: left;
    margin-left: 0.12rem;
    margin-top: 0.2rem;
}
.geng{
	width: 0.68rem;
	height: 0.02rem;
	background: #F6B7B7;
	 margin-right: 0.12rem;
	float: left;
	margin:auto;
	margin-top: 0.35rem;
	margin-left: 2.2rem;

	 
}
.geng1{
	width: 0.68rem;
	height: 0.02rem;
	background: #F6B7B7;
	float: left;
	margin:auto;
	margin-top: 0.35rem;
	margin-left: 0.12rem;	 
}
.huo{
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	margin-left: 0.12rem;
	display: block;
	margin-top: 0.2rem
}

.bq{
	width: 100%;
	background: white;
}
.bq ul{

	height: 5.47rem;
}

.bq ul li{
width: 1.87rem;
height: 2.74rem;
text-align: center;
float: left;
}
.wen1{
	margin-top: 0.1rem;
    color: #2F2F2F;
    font-size: 0.26rem;
}
.hah{
	width:1.575rem;
	height: 1.575rem;

}
.wen2{
	color: #ff2e2e;
    font-size: 0.2rem;
    float: left;
    margin-left: 0.4rem;
}
.wen3{
	color: #999;
    font-size: 0.2rem;
      float: left;


}
.chaoliuqianxian{
	width: 100%;
	background: white;
	height: 3.044rem;

}
.suning{
	width: 2.5rem;
	height:3.044rem;
	float: left;
	display: block;
}
.temai{
	width: 100%;
	background: white;
	height:2.2rem;
}
.mai{
	width: 50%;
	height: 2.2rem;
	float: left;
	display: block;
}
.pinpai{
	width: 100%;
	height: 3.5rem;

}
.pin{
	width: 33.33%;
	height: 3.5rem;
	float: left;
}
.youjia img{
	width: 100%;
	height: 1.87rem;
}
.bianjie{
	height: 2.94rem;
	width: 100%;
}
.chaoshi{
	height: 2.94rem;
	width: 3.34rem;
	float: left;

}
.jinkou{
	width: 4.16rem;
	height: 50%;
	float: left;
}
.shichang{
	width: 100%;
	height: 4.86rem;
}
.qinma{
	width: 1.86rem;
	height: 2.58rem;
	float: left;
}
.aiyundong{
	width: 3.74rem;
	height: 2.18rem;
	float: left;
}
.aishenghuo{
	height:2.82rem;
	width: 100%;
}
.ais{
	width: 25%;
	height:1.86rem;
	float: left;
}
.xingye{
	width: 100%;
	height: 7.16rem;
}
.tuixiao{
	width: 3.74rem;
	height:2.02rem;
	float: left;
}
.tuixiaozuo{
	width: 1.86rem;
	height: 2.02rem;
	text-align: center;
	float: left;
}
.wode{
	  margin-top: 0.14rem;
    font-size: 0.26rem;
    float: left;
    color: black;
}
.wode1{
	    margin-top: 0.06rem;
    font-size: 0.24rem;
    color: #9B9B9B;
    float: left;
}
.sleep{
	float: left;
	width: 1.86rem;
	height: 1.86rem;
	display: block;
}
.lvcha{
	width: 1.86rem;
	height: 2.56rem;
	float: left;
	text-align: center;
}
.shuai{
	width: 1.5rem;
	height: 1.5rem;
	float: left;

}
.qijian{
	width: 100%;
	height: 6.4rem;
	background:#999;
}
.qijian ul{
	float: left;

}
.qijian ul li{
	float: left;
	width: 3.74rem;
	height: 3.2rem;
	background: white;
	padding: 0rem 0.08rem 0.06rem 0rem;
}
.qijian1{
	width: 100%; 
	height: 2.46rem;
	float: left;

}
.qj1{
	width: 2.46rem;
	height: 2.46rem;
	float:left;
}
.qj2{
	width: 1.2rem;
	height: 1.2rem;
	float:left;
}
.qjwenzi1{
	width: 2.4rem;
	height: 0.24rem;
	line-height: 0.24rem;
	color: #2f2f2f;
    font-size: 0.24rem;
    float: left;
}
.qj3{
	width: 0.48rem;
	height: 0.48rem;
	float: left;
}
.qjwenzi2{
	width: 2.4rem;
	height: 0.24rem;
	line-height: 0.24rem;
	    color: #9b9b9b;
   font-size: 0.24rem;
    float: left;
}
.caini{
	width: 100%;
	height: 0.86rem;
	background: #F0F0F0;
	color: #999;
	text-align:center;
	line-height: 0.86rem;
	font-size: 0.28rem;

}
.last{
	width: 100%;
	height: 5.08rem;
}
.last1{
	width: 50%;
	height: 5.08rem;
	float: left;
}
.tupian{

	width: 3.72rem;
	height: 3.72rem;
	float: left;

}
.lastwenzi{
	width: 3.4rem;
	height: 1.2rem;
	float: left;
	font-size: 0.28rem;
	margin-left: 0.09rem;
}
.lastwz{
	float: left;
	font-size: 0.28rem;
	color: #666;
}
.lastwz1{
	font-size: 0.32rem;
	color: red;
	float: left;
}
.lastwz2{
	font-size: 0.24rem;
	color: red;
	float: left;
	margin-top: 0.09rem
}
.zhongjie{
	width: 100%;
	height: 0.8rem;
	background: #f0f0f0;
	
	background-image: url('../img/end.png');
	background-repeat: no-repeat;
	background-size:0.6rem 0.42rem;
	background-position: center center;
}
.zuihou{
width: 100%;
height: 2.02rem;
border-top:0.02rem solid black;
background: white;
}
.zuihou1{
	width: 100%;
	height: 0.28rem;
	margin-top: 0.38rem;
	float: left;
	font-size:0.22rem;
	color: #999;
	text-align: center;
}
.zuihou2{
	width: 100%;
	height: 0.28rem;
	text-align: center;
    padding: 0.6rem 0 0.44rem;
    font-size: 0.24rem;
    float: left;
    color: #ccc;
}
.zuiwz1{
	width: 0.48rem;
	height: 0.28rem;
	font-size: 0.22rem;
	text-align: center;
	color: #ccc;
	 margin: 1.5%;
}
.zuiwz2{
	width: 0.96rem;
	height: 0.28rem;
	font-size: 0.22rem;
	text-align: center;
	color: #ccc;
	 margin: 1.5%;
}
.zuiwz3{
	width: 1.2rem;
	height: 0.28rem;
	font-size: 0.22rem;
	text-align: center;
	color: #ccc;
	 margin: 1.5%;
}
.fengexian{
	width: 0.02rem;
	height: 0.28rem;
	background: #ccc;
}