.content{
	width: 100%;
	height: 0.8rem;
	background: #EDEDED;
	position: relative;
	background-image: linear-gradient(#f2f2f2,#e6e6e6);
}
.content span{
	font-size: 0.4rem;
	color: #000;
	float: left;
	position: absolute;
	left: 3rem;
	top: 0.15rem;
}
.back{
	font-size: 0.25rem;
	color: #888888;
	float: left;
	border: 0.1px solid #BCBCBC;
	border-radius: 15%;
	position: absolute;
	top: 0.15rem;
	left: 0.2rem;
	width: 0.8rem;
	height:0.5rem;
	text-align: center;
	line-height: 0.5rem;
}
.prompt{
	width: 100%;
	height: 0.8rem;
	background: #EDEDED;
	font-size: 0.3rem;
	position: absolute;
	top: 0.8rem;
	line-height: 0.8rem;
}
.lol{
	width: 3.78rem;
	height: 0.48rem;
	border: none;
	position: absolute;
	left: 2.5rem;
	top: 0.2rem;
}
.guojia{
	font-size: 0.3rem;
	position: absolute;
	left: 0.2rem;
	top: 0.3rem;
}
.content1{
	width:100%;
	height: 0.82rem;
	position: absolute;
	top: 1.6rem;
	border-bottom: 0.02rem solid #ccc;
}
.lol1{
	float: right;
	position: absolute;
	right: 0.2rem;
}
.content2{
	width: 100%;
	height: 0.82rem;
	position: absolute;
	top: 2.5rem;
	border-bottom: 0.02rem solid #ccc;

}
.content2 span{
	font-size: 0.3rem;
	position: absolute;
	top: 0.25rem;
	left: 0.2rem;
}
.content3{
	width: 100%;
	height: 12rem;
	background: #EEEEEE;
	position: absolute;
	top: 3.3rem;
}
.huadong{
	width: 6.9rem;
	height: 1.04rem;
	border-radius: 5%;
	background: #DDDDDD;
	position: absolute;
	top: 0.5rem;
	left: 0.2rem;
}
.t5{
	width: 1.04rem;
	height: 1.04rem;
	position: absolute;
}
.hd{
	font-size:0.4rem; 
	position: absolute;
	top: 0.3rem;
	left: 2.5rem;
}
.t6{
	width: 100%;
	height: 0.8rem;
	position: absolute;
	top: 1.8rem;
}