.top{
	width: 100%;
	background: white;
	overflow: hidden;
}
.top1{
	width: 2.5rem;
	height: 0.82rem;
	text-align: center;
	font-size:0.13rem ;
	color: #051b28;
	line-height: 0.82rem;
	border-right: 0.02rem solid #e5e5e5;
	float: left;
}
.top2{
	width: 2.5rem;
	height: 0.82rem;
	text-align: center;
	font-size:0.13rem ;
	color: #c40000;
	line-height: 0.82rem;
	border-top:0.02rem solid #c40000;
	border-right: 0.02rem solid #e5e5e5;
	float: left;
}
.top1{
	width: 2.5rem;
	height: 0.82rem;
	text-align: center;
	font-size:0.13rem ;
	color: black;
	line-height: 0.82rem;
	border-right: 0.02rem solid #e5e5e5;
	float: left;
}
.second{
	width: 100%;
	height: 0.88rem;
	background-image:url('../img/wodetian.png');
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.dianpuhuodong{
	background: white;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.28rem;
	color: #666;
	padding: 0.12rem 0 0 0.24rem;
}
.diyitu{
	width: 100%;
}
.meinv1{
	width: 100%;
	height: 3.56rem;
}
.tiao{
	width: 100%;
	height: 0.22rem;
	background: #eee;
	border-top: 0.02rem solid rgba(0,0,0,.1);
}
.tongdian{
	width: 100%;
	background: white;
	overflow: hidden;
}
.td1{
	width: 2.46rem;
	height: 3.94rem;
	float: left;
}
.meinv2{
	width: 2.46rem;
	height: 2.46rem;
	float: left;
}
.tdwen1{
	width: 100%;
	height: 0.84rem;
	color:black ;
	font-size:0.28rem ;
	float: left;
	background: #F4F4F4;
	line-height: 0.96rem;
}
.tdwen2{
	width: 100%;
	height: 0.64rem;
    color: #dd2727;
	font-size:0.32rem ;
	float: left;
	background: #F4F4F4;
}
.daipeixia{
	width: 100%;
	overflow: hidden;
}
.meinv5{
width: 100%;
height: 9.32rem;
}
.shangpinxia1{
	width: 100%;
	overflow:hidden;
}
.meinv6{
	width: 100%;
	height: 9.3rem;
}
.shangpinxia2{
	width: 100%;
	overflow:hidden;
}
.meinv7{
	width: 100%;
	height: 8.3rem;
}
.meinv8{
	width: 100%;
	height: 8.3rem;
}
.meinv9{
	width: 100%;
	height: 7.7rem;
}
.meinv10{
	width: 100%;
	height: 12.74rem;
}
.meinv11{
	width: 100%;
	height: 15.34rem;
}
.meinv12{
	width: 100%;
	height: 15.4rem;
}
.meinv13{
	width: 100%;
	height: 14.58rem;
}
.meinv14{
	width: 100%;
	height: 8.72rem;
}

.meinv15{
	width: 100%;
	height: 8.82rem;
}
.meinv16{
	width: 100%;
	height: 2.66rem;
}
.meinv17{
	width: 100%;
	height: 3.68rem;
}

