body{
	font-family: "苹方","Helvetica"
}
img{
	width: 100%;
	height: 100%;
}
.bigbox{
	width: 100%;
	height: 13.34rem;
	background: #f6f6f6;
}
	.shou{
		width: 100%;
		height: 3.2rem;
		background: #22bd83;
		border-bottom: 0.04rem solid #ebdf1d;
		overflow: hidden;
	}
		.shou1{
			width: 7.1rem;
			height: 0.6rem;
			margin: 0 auto;
			margin-top: 0.65rem;
			overflow: hidden;
			/* background: black; */
		}	
			.shou1-1{
				width: 0.17rem;
				height: 100%;
				float: left;
				/* background: black; */
			}
			.shou1 p{
				width: 0.3rem;
			font-size: 0.17rem;
			color: #f9fdfb;
			line-height: 0.46rem;
			/* display: inline-block; */
			font-weight: 900;
			/* text-shadow: 0.3rem 0.3rem 0.3rem 0.6rem black; */
			}
			.shou1-2{
				/* width: 2.7rem; */
				height: 100%;
				/* float:left; */
				margin: 0 auto;
				overflow: hidden;
				/* background: black; */
			}
				.shou1-2 h4{
					font-size: 0.24rem;
					text-align: center;
					color: #efefef;
				}
				.shou1-2 h5{
					font-size: 0.12rem;
					color: #89ffda;
					text-align: center;
				}
		.yinghangka{
			width: 6.3rem;
			height: 5.2rem;
			background:#ffffff;
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			top: 1.67rem;
			border-radius: 0.3rem;
			box-shadow: 0 0 0.4rem 0.02rem rgba(0, 0, 0, 0.3);
			z-index: 900;
			overflow: hidden;

		}
			.ka{
				width: 5.5rem;
				height: 1.7rem;
				margin: 0 auto;
				margin-top: 0.5rem;
				/* background: black; */
				border-bottom: 0.02rem dashed #d6d6d6;

			}
				.ka1{
					width: 100%;
					height: 1.08rem;
					/* background: black; */
					overflow: hidden;
				}
					.yuan1{
						width: 0.9rem;
						height: 0.9rem;
						background: #1b7ed2;
						margin-top: 0.09rem;
						margin-left: 0.09rem;
						border-radius: 0.5rem;
						box-shadow: 0 0 0.09rem 0.03rem rgba(0, 0, 0, 0.4);
						float: left;
					}
					.yuan２{
						width: 0.9rem;
						height: 0.9rem;
						background:#ff9820;
						margin-top: 0.09rem;
						margin-left: 0.09rem;
						border-radius: 0.5rem;
						box-shadow: 0 0 0.09rem 0.03rem rgba(0, 0, 0, 0.4);
						float: left;
					}
					.ka1-2{
						width: 4rem;
						height: 100%;
						float: left;
						margin-left: 0.3rem;
						/* background: black; */
					}
						.ka1-2-1{
							width: 100%;
							height: 0.66rem;
							overflow: hidden;
						}
							.ka1-2-1-1{
								/* width: 2.2rem; */
								height: 100%;
								float: left;
							}
								.ka1-2-1-1 h1{
									font-size: 0.34rem;
									color: #000;
								}
								.xu{
									width: 0.9rem;
									height: 0.02rem;
									border-bottom: 0.02rem dashed #cccccc;
									border-left: 0.02rem dashed #4d4d4d;
									border-right: 0.02rem dashed #4d4d4d;
									margin-top: 0.1rem;
									margin-left: 0.04rem;
								}
							.ka1-2-1-2{
								width: 0.6rem;
								height: 0.6rem;
								border-radius: 0.5rem;
								background: #22bd83;
								float: left;
								font-size: 0.24rem;
								color: #fff;
								line-height: 0.6rem;
								text-align: center;
								font-weight: 900;
							}
						.ka1-2-2{
							width: 100%;
							height: 0.42rem;
						}
							.ka1-2-2 h6{
								font-size: 0.24rem;
								color: #b6b6b6;
							}
							.ka1-2-2 h6 .weishu{
								color: #909090;
								font-size: 0.2rem;
							}
							.ka1-2-2 h6 .yinghang{
								font-size: 0.24rem;
								color: #22bd83;
							}

		.disanfang{
				width: 100%;
				height: 0.6rem;
				margin-top: 4.4rem;
				/* background: black; */
				overflow: hidden;
			}
				.neirong{
					width: 3.3rem;
					height: 100%;
					margin-left: 0.5rem;
					/* background: blue; */
					overflow: hidden;
					}
					.yuan{
						width: 0.5rem;
						height: 0.5rem;
						border-radius: 0.5rem;
						/* background: black; */
						float: left;
						box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
						margin: 0.05rem;
						background-image: url('../imgs/shou2.png');
						background-position: center center;    
						background-size: cover; 
						background-repeat: no-repeat;
					}
					.zi{
						/* width: 2.7rem; */
						height: 100%;
						float: left;
						/* background: yellow; */
					}
						.zi h1{
							font-size: 0.24rem;
							color: #696666;
						}
						.zi h2{
							font-size: 0.12rem;
							color: #a4a4a4;
						}
		.fangshi{
			width: 7rem;
			height: 1.3rem;
			margin: 0 auto;
			margin-top: 0.5rem;
		}
			.zhifubao{
				width: 3.42rem;
				height: 100%;
				background-image: url('../imgs/zhifubao1.png');
				background-size: cover;
				background-position: center center;
				float: left;
				}
			.weixin{
				width: 3.4rem;
				height: 100%;
				background-image: url('../imgs/weixing1.png');
				background-position: center center;
				background-size: cover;
				float: right;
				}
		.jiansuan{
			width: 4.8rem;
			height: 0.8rem;
			margin: 0 auto;
			margin-top: 1.76rem;
			background: #1eaa4c;
			border-radius: 0.5rem;
			box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
			overflow: hidden;
		}
			.jiansuan1{
				width: 3.4rem;
				height: 0.56rem;
				margin: 0 auto;
				margin-top: 0.12rem;

			}
				.jiansuan1-1{
					width: 0.64rem;
					height: 100%;
					float: left;
					background-image: url('../imgs/qiangbao.png');
					background-size: cover;
				}
				.jiansuan1-2{
					/* width: 2.6rem; */
					height: 100%;
					float: right;

				}
					.jiansuan1-2 h1{
						font-size: 0.24rem;
						color: #fffefe;
					}
					.jiansuan1-2 h2{
						font-size: 0.24rem;
						color: #fffefe;
					}