
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1489462600859'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1489462600859#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1489462600859') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1489462600859') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1489462600859#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before { content: "\e639"; }

.icon-dianchibattery140:before { content: "\e674"; }

.icon-sousuo_sousuo:before { content: "\e601"; }

